[2019-10-23 11:34] alexandremgo commented on #278
I'll look into it on Monday (don't have access to my computer right now) ;)

[2019-10-28 15:38] alexandremgo commented on #278
Hey!

I was able to reproduce the error only by decreasing `Timeout` (`Timeout = TotalSamples * 2` for ex)
Otherwise the loop would run into the following error after a while:
[code]

Maybe `TEST(sender_receiver, fec_with_losses)` is not called in my case ? How does `ROC_TARGET_OPENFEC` is defined ?

My build command:
[code]

[2019-10-28 17:34] dshil commented on #277
I haven't found what the problem is yet...

[2019-10-28 17:40] dshil commented on #278
@alexandremgo Hi,
Thanks for coming back to this issue!

It seems strange. @gavv have you ever encounter this type of error?

It is called every time because you built with the OpenFEC support, as a result ROC_TARGET_OPENFEC is defined by the build system.

We have the option to disable this support: `--disable-openfec    disable OpenFEC support required for FEC codes`. If you disable the OpenFEC

[2019-10-28 18:56] gavv commented on #278
Maybe @dshil's machine was more loaded during the test or the hardware is different... Anyway making this test adaptive and not dependent on the specific timeout (as described in the issue) is a good idea I think.

This is something new. It seems that this test needs much more love :)

Do you have a backtrace? Probably you could capture it using libSegFault.so with LD_PRELOAD.

I'd expect that Roc

[2019-10-28 19:58] gavv commented on #278
BTW I can reproduce the original issues (`!(leading_zeros < Timeout)`) by running 6 instances of the loop in parallel. I have 2-core CPU with hyper-threading.

[2019-10-28 20:29] gavv commented on #277
[code]

[code]

[2019-10-28 20:36] gavv commented on #277
What we see here:

* First, the sender was destroyed. The sender uses the first trx 0x56675a0 belonging to roc_context. It's remove_port() call worked good:

    * REMOVE PORT BEGIN 0x56675a0
    * RUN TASK 0x56675a0
    * PROCESS TASKS 0x56675a0
    * REMOVE PORT TASK 0x56675a0
    * HANDLE CLOSED 0x56675a0
    * FOUND PORT 0x56675a0
    * WAIT PORT CLOSED 0x56675a0
    * REMOVE PORT END 0x56675a

[2019-10-28 21:03] gavv commented on #277
So uv_async_send() was called but process_tasks_() wasn't. We should investigate what happens with the uv loop when this happens. Is it idle or running some callback? Probably it hanged?

We can do it by NOT using scripts/wrappers/timeout.py. We can just wait when the test will hang and then inspect its threads using gdb.

Also, we could check whether this is reproducible if we will destroy trx-es

[2019-10-29 08:33] gavv commented on #278
We can relax the requirements even further. Instead of reading N samples and expecting that 90% will be non-zero, we can just indefinitely read samples until we accumulate N non-zero samples. (But we should keep the check that the each sample is either correct on zero.)

This way the test should become tolerant to the system load, I hope.

Later we will add more strict tests that will check servic

[2019-10-29 14:07] alexandremgo commented on #278
Yes i agree it would relax the requirements. (We agree you meant: we should keep the check that each sample is either correct OR zero ?).
To do so, should the Sender send a repetitive signal in a loop as mentioned by @dshil ?

Yes I'm working on it ;)

[2019-10-29 15:24] alexandremgo commented on #278
Strangely enough i did not manage to reproduce this error this morning. I'll come back to it if it appears again.

[2019-10-29 16:32] gavv commented on #278
Yep. A typo.

Yep.

Cool!

OK.

[2019-10-31 08:21] srp3003 commented on #198
I am new to open source software development, may I have a go on this issue?

[2019-11-01 15:18] alexandremgo commented on #278
I have several questions on #283 :)

[2019-11-04 14:48] billionai commented on #246
Hey, I was coding the sink for sndfile and noticed that I need to pass a number as a format, that would be derived from the driver passed (I'm guessing). What formats should be supported, and what their strings will look like? ("wav" or "wavefile"?)

This is the only thing left to do for the SndfileSink, and I can start working on the source. Sorry about the delay, the mixture of inexperience and

[2019-11-04 15:18] gavv commented on #246
Yep.

It would be great if we will support all formats supported by libsndfile.

For formats that are also supported by SoX, we should use the same string name as SoX uses, so that the `--format` command-line option will work the same for both backend.

For formats that are not supported by SoX (if any) we can use the (common) extension name as the format name.

You can see the list of currently s

[2019-11-05 06:25] gavv opened #285 "roc_lib test pure virtual method called"
Caught in #283.

Mangled:

[code]

Demangled:

[code]

[2019-11-05 06:52] gavv commented on #285
`Proxy::send_packet_()` calls two virtual methods: `packet::IReader::read()`, implemented by `packet::Queue`, and `packet::IWriter::write()`, implemented by `netio::UDPSenderPort` returned by `trx_.add_udp_sender()`.

One possible reason of a pure virtual method call is calling a virtual method after destroying the object. Just checked it: http://codepad.org/J5PWyPP6

So probably `send_packet_()`

[2019-11-05 06:54] gavv commented on #285
@alexandremgo if you're able to reproduce the problem, could you take a look?

[2019-11-05 16:18] alexandremgo commented on #285
Yes I'll take a look while working on #278

[2019-11-13 00:16] zuowanbushiwo opened #286 "How to compile in the yocto project?"
The Yocto project supports the compilation of the scons project, how to write a bitbake file, so that the entire project is compiled in Yocto like mongodb (https://github.com/Anand1985-gl/my-meta-oe/blob/master/meta-oe /recipes-dbs/mongodb/mongodb_git.bb) Same?

thanks!

[2019-11-13 08:56] gavv commented on #248
The first version of Go bindings is merged: https://github.com/roc-project/roc-go/pull/1

The remaining issues are tracked here: https://github.com/roc-project/roc-go/issues

[2019-11-13 08:57] #248 closed

[2019-11-13 09:30] gavv commented on #286
Hi,

I didn't use Yocto before and didn't try to build Roc for it.

Generally speaking, I guess you'll need:

* to specify dependencies; you can find them here: https://roc-project.github.io/roc/docs/building/dependencies.html

* to specify a download url; you can find it here: https://github.com/roc-project/roc/releases

* to specify build command and options; you can find them here: https://roc-

[2019-11-13 09:38] gavv commented on #285
It seems that the problem was caused by the field order in test: https://github.com/roc-project/roc/pull/283#issuecomment-552511362

It will be resolved by that PR.

But before closing this issues, we should re-check whether we have a correct deinitialization order guarantee in Transceiver. Probably we need to fix it too.

[2019-11-13 10:05] gavv commented on #277
Alexandre was able to reliably reproduce the problem and investigated that the problem disappears if we read all pending packets before calling roc_receiver_close(): https://github.com/roc-project/roc/pull/283#issuecomment-552929159

Here is the backtrace. I captured it by running the test from Alexandre branch under valgrind and sending SIGABRT to individual threads when the test is stuck (thread

[2019-11-13 10:19] gavv commented on #277
It appears that iterate_ports() function is problematic and error-prone. It was a bad idea to call user-provided callback while holding an internal mutex.

As a fix, I suggest to remove this function at all.

roc_receiver_close() (src/lib/src/receiver.cpp) uses it to remove all ports it registered in Transceiver. Instead of using iterate_ports() for that, roc_receiver can maintain an array (core::

[2019-11-14 00:13] zuowanbushiwo commented on #286
thanks!

[2019-11-14 00:13] #286 closed

[2019-11-14 09:02] gavv commented on #235
Assigned to @CristobalM.

[2019-11-15 09:22] dshil commented on #277
@gavv we can rely on the fact that all port will be removed in the trx::~trx(). I guess we can simply call:

[code]

[2019-11-15 10:14] gavv commented on #277
Nope. Trx belongs to context. Closing receiver does not mean closing context because multiple sender and receivers may be attaches to the context.

Also, we even can't destroy receiver before removing ports because otherwise trx will have pointers to deinitialized memory (e.g. IWriter).

[2019-11-16 07:48] gavv commented on #277
Assigned to @alexandremgo.

[2019-11-18 14:54] billionai commented on #246
I have a couple of questions before I can move to the backend:

First, about the 'is_file_' member:
Sndfile doesn't have a clean way to check if the opened descriptor is a device or a file, but it can tell you if the opened descriptor is seekable. I think we could use this to determine whether it is a file or not, but another problem emerges. In libsndfile version 1.0.26, there is a known issue th

[2019-11-19 10:41] gavv commented on #246
I don't quite understand what devices are you talking about.

In SoX backend, input or output may be either a path on filesystem (e.g. .wav file) or a device name specific to some sound system, e.g. ALSA device or PulseAudio sink.

If input or output is a device, it's not a path and it usually does not correspond to any file in `/dev` (though the second may be true for *some* sound systems, e.g. O

[2019-11-19 14:05] billionai commented on #246
As I'm used to linux, I figured that you'd handle a device in a similar way to a file with libsndfile, except it wouldn't be seekable. Otherwise I can't really see a reason for a music file to not be seekable, but maybe it's just inexperience. If libsndfile does, indeed, only support files I'll just set `is_file_` to true.

Yes, that's what I meant. I had some trouble because `roc-recv` wasn't rec

[2019-11-19 14:27] gavv commented on #246
I guess the only case when it's not seekable is a pipe, e.g.:

[code]

Yep.

Yeah, it was added recently. BTW don't forget to fresh `develop` when preparing your PR.

You can also use:

[code]

Agree. Backend can map string to constant and pass it to sink/source constructor.

I think this is perfectly OK. This is not a critical path and there is no need to optimize it. Also, on small array sizes t

[2019-11-19 15:30] gavv commented on #217
@biljith Do you need any help? :)

[2019-11-19 17:59] gavv commented on #277
PR is merged.

[2019-11-19 17:59] #277 closed

[2019-11-19 18:03] gavv commented on #285
It seems that the port deinitialization order in Transceiver doesn't matter because Transceiver doesn't destroy any objects outside netio. So we can close this issue after merging #283.

[2019-11-26 03:51] RohanK99 commented on #162
What is the moving average with respect to as in what is the rolling window that we want to calculate the average of? Is this based on the variable moving window that the resampler is operating on? If so how can we extrapolate that value for use to get the moving average for ProfileWriter::write

[2019-11-27 20:07] alexandremgo commented on #263
I can work on this issue if help is wanted ?

[2019-11-28 11:17] gavv commented on #162
Hi! Sorry for late reply.

Not quite. ProfilingWriter is the user of Resampler and itself is used by the sound I/O code. Sound I/O code reads (usually) fixed-size frames from ProfilingWriter, and it, in turn, reads these frames from Resampler. Resampler fills the requested fixed-size frames by reading a necessary amount of smaller-size frames from underlying pipeline components and scaling them a

[2019-11-28 12:11] gavv commented on #200
We decided to use Ragel for parsing. We already started using it to parse URIs (see roc_address module).

[2019-11-28 12:37] gavv commented on #263
Hi Alexandre! Yeah, help is always wanted :)

This issue can not be resolved right now: we first need to implement session negotiation with RTSP (#216, #34), for which we first need to implement roc_ctl module (#214, #244, #215), SDP support (#200), and TCP support (#205). We also should finish migration from ports to URIs (#258).

This issue requires RTSP because currently we support only bare RT

[2019-11-28 13:31] dwlsalmeida commented on #233
Hey there!

I am willing to take this IF there is help.
What do you say @gavv ?

https://medium.com/@bschlining/a-simple-java-native-interface-jni-example-in-java-and-scala-68fdafe76f5f
This seems rather straightforward. Is this what you guys are looking for?

[2019-11-28 19:24] gavv commented on #233
Great, you're welcome!

Yes.

If you're starting working on this, I can create a new repo in our github org, say, roc-project/roc-java, just like we have [one](https://github.com/roc-project/roc-go) for Go bindings.

[2019-11-29 15:08] dwlsalmeida commented on #233
@gavv

Cool man, please assign then.

[2019-11-30 14:25] gavv commented on #233
https://github.com/roc-project/roc-java

[2019-11-30 23:14] alexandremgo commented on #200
Hey! I can try to implement the new module `roc_sdp`. I guess I can look at `roc_rtp` to have a good idea on how to implement this new module ?

I'll also look at `roc_address` for the parser

[2019-12-01 07:57] #285 closed

[2019-12-01 07:58] gavv commented on #278
Fixed. Valgrind is enabled in travis .

[2019-12-01 07:58] #278 closed

[2019-12-01 08:20] gavv commented on #200
Great!

Yes.

To add a new module, simply create a directory with `.h`, `.cpp` and `.rl` files and add module name to `ROC_MODULES` in SConstruct.

Yes. See also #282.

I also suggest you to read RFC 4566 (if you haven't read it before) and to take a look at the official Ragel PDF. Feel free to ask questions if you'll need help. (BTW, for extensive discussions I'd suggest to use mailing list, but

[2019-12-01 08:22] gavv commented on #200
After implementing `roc_sdp` module we will want to use it. The main usage will be in RTSP, but it will take some time to implement it.

To start with something simple, we can implement a very primitive form of session negotiation when the server prints SDP to a file or stdout and the client reads SDP from a file or stdin, and the user is responsible to transfer SDP from server to client.

This wi

[2019-12-01 08:28] gavv commented on #200
Maybe this will be also useful: https://gavv.github.io/articles/minisaplistener/

[2019-12-02 03:48] RohanK99 commented on #162
Should the duration of the window in seconds (eg. 5 second window) be configurable as a command line option? or should I fix it as a constant somewhere and if so what should that constants value be?

[2019-12-02 09:25] gavv commented on #162
I think for now we can hardcode it to 5 seconds.

[2019-12-02 10:48] gavv opened #290 "Print thread ID in log messages"
## Problem

It would be convenient to include integral thread identifier in log messages.

Currently messages look like this:

[code]

and with thread ID they should look like:

[code]

This thread ID can be used to distinguish threads, and, at least on Linux, to find these threads in ps/top and to send signals to them.

## Solution

We can use `syscall(SYS_gettid)` on Linux and `pthread_getthread

[2019-12-02 13:21] dshil commented on #290
@gavv, what about using `uv_thread_self`?

[2019-12-02 13:22] dshil commented on #290
@gavv, what about using `uv_thread_self`?

[2019-12-02 13:32] gavv commented on #290
@dshil it's portable, but, just like pthread_self(), it returns an opaque handle that is not an integral type. It can't be printed, or used to find the thread in ps/top, or used to to send a signal to the thread.

[2019-12-03 03:12] RohanK99 commented on #162
How can we add `ProfilingWriter` to the `pipeline::Receiver` since it takes an `IWriter` as a constructor argument. We would need to create something like `ProfilingReader` in order to attain the desired outcome. Unless there is another way that I am overlooking on integrating `ProfilingWriter` with `pipeline::Receiver`

[2019-12-03 08:47] gavv commented on #162
My bad, you're right. We need `ProfilingReader` for `pipeline::Receiver`.

We can extract `Profiler` class with methods like `begin_frame()` and `end_frame()`. This class will compute SMA and report it periodically. Then we can reuse it in `ProfilingReader` and `ProfilingWriter` (call `begin_frame` before reading/writing frame and `end_frame` after it). We already use the same approach with `Resam

[2019-12-03 18:11] RohanK99 commented on #162
If I want to use `#include <deque>` in my code do I have to add that to "stddefs.h" and include that or would you prefer I just created a double ptr circular buffer?

[2019-12-05 09:59] gavv opened #292 "Minimal MinGW build for Windows"
We have #132 to track efforts related to Windows porting. We've already fixed a few minor issues with SCons on Windows.

This sub-task is the first significant step towards Windows support: make minimal Roc configuration building with MinGW:

[code]

(The exact --host may differ.)

See also [Dependencies](https://roc-project.github.io/roc/docs/building/dependencies.html) and [SCons options](https:

[2019-12-05 10:00] gavv commented on #132
I've created #292 sub-task.

[2019-12-05 12:51] gavv opened #293 "Build fails on Ubuntu Bionic"
https://travis-ci.org/roc-project/roc-tests/builds/621100304

[code]

[2019-12-06 02:17] digitxo opened #294 "Bluetooth Audio"
Does this project work with Bluetooth Audio transmissions?

[2019-12-09 09:45] gavv commented on #294
Hi,

No, Roc doesn't support Bluetooth. So far we have plans only on IP-based protocols.

[2019-12-09 09:51] gavv commented on #290
Assigned to @RohanK99.

[2019-12-10 14:48] Caynosadler commented on #229
Hi @gavv is this issue still open, can i take a look at it ?

[2019-12-12 10:52] gavv commented on #229
Hi @Caynosadler!

The issue is open, you're welcome to work on it.

For now we don't have RTCP (#14) and RTSP (#216) support yet. They're planned on 0.2.

So we can start with SRTP support. We can start with a simple scheme with pre-shared master key provided via command-line both at sender and receiver. When we'll get it working, we can add some key-exchange mechanism like ZRTP.

I'd prefer to re

[2019-12-12 20:45] Caynosadler commented on #229
@gavv I suggest we go with the generic cryptographic libraries and implement the ciphers and protocols.

also, i came across a [ccRTP](https://www.gnu.org/software/ccrtp/) and [libsrtp](https://github.com/cisco/libsrtp) which satisfies some of the requirements above. Not too sure if they allows custom user-provided allocator.

[2019-12-13 09:00] #290 closed

[2019-12-13 09:46] gavv commented on #229
IIRC ccRTP provides a full RTP stack. On the other hand, we have our own and it's tightly integrated in our pipeline. Using foreign RTP stack for SRTP would be a pain I guess.

[2019-12-13 23:27] eljima commented on #294
I could write the Bluetooth driver(to drive through). I can access some peripherals. If you are okay with this, I will compare the various devices and find the most suitable and practical method to work on it.

[2019-12-14 00:20] digitxo commented on #294
I would love to see real-time Bluetooth audio. Keep me posted!

[2019-12-15 01:25] eljima commented on #294
It probably won't be feasible to support all devices but I can work on your one. Post me your device info and maybe I can work on a specific patch for your hardware. Have a nice day

[2019-12-15 01:51] digitxo commented on #294
Raspery Pi Zero

[2019-12-15 02:29] digitxo commented on #294
Could you do this with a RPI Zero?

[2019-12-15 05:21] eljima commented on #294
Yes, I can. Id you want it, I can teach you how to do it and you will program it yourself  learning in the process. I don't ask anything in exchange. Teaching is something I like. Contact me at eljima  outlook   com

[2019-12-15 13:35] Caynosadler commented on #229
Then I suggest we go with this

[2019-12-16 10:58] ffisherr commented on #236
Hi @gavv. Is this issue still open? Can I work with it? What should i start with?

[2019-12-16 11:25] gavv commented on #294
Hi,

First, regarding to Bluetooth support in Roc.

I can imagine two ways how it could be used:

1. The user may want to read from Roc receiver and write to Bluetooth device, or to read from Bluetooth device and to write to Roc sender. In other words, Roc should allow to connect network Roc sender or receiver to a local Bluetooth device.

2. The user may want to use Roc receiver or sender API to

[2019-12-16 12:24] gavv commented on #236
Hi! Yes, this is still relevant and you're welcome.

I'd recommend to start from reading [this page](https://roc-project.github.io/roc/docs/internals/fec.html) from our documentation and then [RFC 6363](https://tools.ietf.org/html/rfc6363), [RFC 6681](https://tools.ietf.org/html/rfc6681), and [RFC 6682](https://tools.ietf.org/html/rfc6682).

Then I suggest to look at OpenRQ and orq. IIRC, OpenRQ i

[2019-12-16 16:11] gavv commented on #229
I've just took a look at libSRTP and it looks promising. It fulfills almost all requirements: portable, doesn't implement its own network loop, doesn't force its own RTP stack (you just pass bytes to it), permissive license.

The only thing missing is using custom allocator. This requirement is not critical though.

I suggest to try it. Specifically, we can start with the following:

* Add target_

[2019-12-16 16:20] gavv commented on #229
However, there are a few important questions we need to answer first.

We use FECFRAME, which uses two separate streams for source and repair packets. Two modes are possible: 1) both streams are RTP 2) source stream is RTP, and repair stream use custom FECFRAME-specific protocol.

FECFRAME supports multiple FEC schemes. Each FEC scheme defines which mode to use. Some schemes define RTP payload for

[2019-12-16 19:48] gavv opened #296 "Create service quality test for public API"
## Intro

Currently we have unit tests for internal components (src/tests) and a few simple integration tests for public API (src/tests/roc_lib).

All these tests are non-real-time, i.e. they don't expect any action, like delivering a packet, to take any specific amount of time. Actually they mostly are not tied to time at all. It has both advantages and disadvantages:

* Tests can run in any cond

[2019-12-16 20:00] gavv opened #297 "Create benchmarks for public API"
## Task

We have created a new repo [roc-tests](https://github.com/roc-project/roc-tests) for various real-time integration tests for public API. See #296 for details.

This task is for adding API benchmarks to that repo.

Currently we have two time-sensitive operations in API: roc_sender_write() and roc_receiver_read(). It would be useful to cover them with benchmarks and periodically check them

[2019-12-16 20:22] gavv opened #298 "Create stress test for public API"
## Task

We have created a new repo roc-tests for various real-time integration tests for public API. See #296 for details.

This task is for adding a stress test to that repo.

The test should randomly create senders and receivers, perform some exchange, and destroy them. This should be done repeatedly from multiple threads.

We can implement this using a simple scheme. Start several threads. Eac

[2019-12-16 20:24] gavv commented on #278
I've created [roc-tests](https://github.com/roc-project/roc-tests) repo and a few help-wanted issues: #296, #297, #298.

[2019-12-17 09:02] sumdoll opened #299 "It always latency out of bounds when receiver running on openwrt."
Hello guys,
    This roc-project is very good and I have ported it to openwrt platform which base on MT7688 (580MHz MIPS® 24KEc™ CPU). The sender works well, but the receiver always remove session and then try to create session over again and again. It reports latency out of bounds error:

16:44:03.810 [dbg] roc_fec: fec reader: update source block size: cur_sblen=0 cur_rblen=0 new_sblen=20
16:44:

[2019-12-17 14:54] gavv commented on #299
Hello and thanks :)

Interesting! Did you patch Roc? If so, do you have plans to share the patch?

Yes, this looks like a CPU performance issue.

What can be done here:

* Are you building debug (`--enable-debug` in scons) or release version (default)? If you're building debug, try release.

* You can try to use a lower-quality resampler profile (`--resampler-profile=low`), or disable resampler at

[2019-12-18 02:09] digitxo commented on #294
Hi. I didn't catch you on Skype and you're not responding to my emails. Wondering if you aren't noticing them so I posted here. Please get ahold of me I'd really like to work on this project with you.

[2019-12-18 09:17] gavv commented on #231
Hi Thomas, how is it going? Do you still have plans to work on this?

[2019-12-18 09:32] sumdoll commented on #299
Hello gavv,
  Thanks your support, I really appreciate that. I have not patch Roc yet, I'm glad to share this patch after testing if Roc needs.
   There is a good news is that the receiver works with _--no-resampling_ option now. This testing target is release version and use ALSA as audio backend. About the resampler performance result,  will be updated after testing.

[2019-12-18 09:43] gavv commented on #228
Docs:
https://roc-project.github.io/roc/docs/internals/data_flow.html

[2019-12-18 11:31] gavv opened #301 "Switch to another reed-solomon FEC code implementation"
## Problem

Currently we have two FEC schemes: Reed-Solomon (the default one) and LDPC-Staircase. The network part is implemented by our code, and the codec part is implemented in OpenFEC library.

OpenFEC is a great library, but there are several issues with it:

* It's not actively maintained. We currently use [our fork](https://github.com/roc-project/openfec/commits/master) which fixes multiple

[2019-12-19 10:49] gavv opened #302 "Support error codes and partial reads and writes in audio readers and writers"
## Problem

Here is how audio::IReader and audio::IWriter interfaces look like currently:

[code]

We need two improvements here:

* Allow read() and write() operations to fail and report error to the upper code. This is needed to handle run-time error gracefully.

* Allow read() and write() operations to process lesser samples than requested and report how much samples were actually processed. Th

[2019-12-19 11:41] gavv opened #303 "Support error codes in packet readers and writers"
## Problem

Here is how packet::IReader and packet::IWriter interfaces look like currently:

[code]

We need two improvements here:

* Allow read() to report error code (the reason why it failed).
* Allow write() to fail and also report error code (the reason why it failed).

## Solution

Convert the above interfaces to the following:

[code]

In particular:

* On success, read() and write() will

[2019-12-19 14:43] gavv opened #304 "Support packet peek"
## Problem

* Currently, every reader automatically advances position in stream. Instead, it should be controlled manually by the caller -- needed for #54 and #210.

* Depacketizer should be able to access the next packet without advancing current position -- needed for #51.

* Depacketizer also needs it to support soft reads -- #730.

## Impl

* [x] add packet::PacketReadMode, that can be ModeFet

[2019-12-19 14:45] #212 closed

[2019-12-19 16:24] gavv opened #305 "Implement simplest "beep" and "echo" PLC"
## Intro

Packet loss concealment ([PLC](https://en.wikipedia.org/wiki/Packet_loss_concealment)) is a technique to mask the effects of packet loss. It comes into play when a packet is lost and can't be recovered using FEC. In this case we can at least make the loss less noticeable.

Currently we just play zeros instead of the lost samples. The simplest PLC technique is just to repeat last frame, b

[2019-12-19 16:25] #185 closed

[2019-12-19 17:18] gavv opened #306 "Create API tutorial"
Currently we have two pages documenting our [C API](https://roc-project.github.io/roc/docs/api.html):

* Reference
* Examples

Reference provides a detailed description of every type and function. Examples provide complete C programs demonstrating API usage.

It would be also nice to add a beginner-friendly tutorial / quick-start style introduction to the API, providing step-by-step instructions o

[2019-12-19 17:24] gavv opened #307 "Add openSUSE to travis and docs"
It would be nice to add openSUSE to CI and docs:

* Create a pull request to our [dockerfiles](https://github.com/roc-project/dockerfiles), adding `travis-opensuse` image. The image will appear on docker hub after merging.

* Add `opensuse.sh` to https://github.com/roc-project/roc/tree/master/scripts/travis/linux-x86_64

* Pull `travis-opensuse` and invoke `opensuse.sh` in https://github.com/roc-p

[2019-12-21 20:06] allstaralok commented on #297
Hi Gavv,

I want to work on this.
Please assign it to me.
Also, I am new might need some extra help

[2019-12-21 20:18] gavv commented on #297
@allstaralok You're welcome.

[2019-12-23 17:05] digitxo commented on #294
You there?

[2019-12-26 19:34] gavv commented on #306
Here is a good example of an API tutorial: https://github.com/google/oboe/blob/master/docs/FullGuide.md

[2019-12-27 08:28] gavv opened #308 "Broadcast support"
*(This was initially reported via mailing list: https://www.freelists.org/post/roc/ROC-over-BROADCAST-IP)*

Sending datagrams to broadcast address is permitted only when SO_BROADCAST socket option is enabled. Without it, sendto() returns EACCESS if the address is broadcast.

The reason for this is the common convention to disable broadcast messages unless explicitly enabled by user to prevent acci

[2019-12-30 11:16] gavv opened #309 "Add scons fmt check to Travis builds"
We have `scons fmt` command that formats the code according to our code style. It adds necessary copyright headers and runs clang-format.

It would be nice to check that the code is formatted in out Travis build, i.e. run `scons fmt` and ensure that it did not modify any source files (using git status I guess). If it did, fail the build.

The check can be added to the "Linux build checks" section:

[2019-12-30 11:25] gavv opened #310 "Use make -jN in 3rdparty.py"
Determine # of CPU cores and use `-jN` instead of `-j`. See https://github.com/roc-project/roc/pull/284#discussion_r341937262.

[2019-12-30 11:28] gavv commented on #236
Oh, and there are also:

* https://github.com/LucaFulchir/libRaptorQ
* https://github.com/cberner/raptorq

[2019-12-30 17:19] name213 commented on #307
Hey, if it's free, I would like to work on this issue!

[2019-12-31 10:27] gavv commented on #307
Sure, you're welcome :)

[2019-12-31 19:58] gavv commented on #231
Thomas mailed me that he has no time for this now, so this issue if free again.

[2020-01-01 12:57] gavv opened #311 "CoreAudio sink and source"
This task is identical to #231, but for adding CoreAudio native backend for macOS.

Three classes should be added to target_coreaudio:

* CoreaudioBackend
* CoreaudioSink
* CoreaudioSource

[2020-01-01 13:04] gavv opened #312 "PulseAudio source"
For reasons described in #231, we have native PulseAudio backend, providing PulseAudio sink working on top of libpulse.

However, we still use SoX backend for PulseAudio sources. Its main limitation is that it's not possible to configure I/O latency.

Thus, we need to implement PulseAudio source using libpulse as well. We should add `PulseaudioSource` class and employ it in `PulseaudioBackend::pro

[2020-01-03 17:55] BeyondChrispy opened #313 "Failover to local audio"
It would be great to implement a feature that would allow playback of a locally stored audio file(s) on a Roc receiver in the event that the internet connection that Roc is using fails (or other similar failure of the stream).  Once the internet connection is restored and the Roc stream is working again it goes back to streaming.

I'd like to use Roc as a Studio to Transmitter link solution for a

[2020-01-04 08:39] gavv commented on #313
Hi!

There is currently no such thing as internet connection, but we know the number of currently active sessions at the receiver, one session per sender. So we could add an option to specify the input file or device that should be used when there are zero active sessions. It's technically possible.

A few questions:

* Why do you need this? Just curious. I'm not familiar with radio stuff.
* Are y

[2020-01-04 08:51] gavv commented on #254
@gmoberg Hi, do you still have plans to work on this?

[2020-01-04 14:00] BeyondChrispy commented on #313
Hi,
At my radio station, we use a Band 1 analog radio transmitter/receiver to link the studio to the transmitter.  As a backup, we have a streaming receiver which constantly plays the radio station's web stream in case the analog link fails (the transmitter automatically switches to the streaming receiver).  The unit that does this is now rather old and I am looking to replace it with a higher qua

[2020-01-05 21:46] dinimar commented on #296
Can I work on this issue?

[2020-01-07 08:37] gavv commented on #313
Thanks, I see. "Backup audio" sounds good, I think.

I'll add this to 0.2 milestone, which we're currently working on.

The backup file is supposed to be played from the beginning every time when we lost connection, right?

[2020-01-07 08:38] gavv commented on #296
@dinimar Sure, you're welcome!

[2020-01-07 08:50] gavv commented on #294
I think we can close this. Feel free to reopen if necessary.

[2020-01-07 08:50] #294 closed

[2020-01-07 09:26] gavv commented on #236
I've took a look at those libraries and I think libRaptorQ looks very promising and we should try it first (its C++98 or C API).

I've also updated the issue and added a more detailed plan. And I've removed the part about fec::Parser/fec::Composer - we actually don't need a new parser & composer for Raptor because it doesn't introduce new headers, only a new RTP payload.

@ffisherr What do you thi

[2020-01-07 14:36] davex25 commented on #231
Hello, looking into this at the moment.

[2020-01-07 16:38] ffisherr commented on #236
Hey @gavv, agree with you, example in libRaptorQ seems very easy, i believe, i can do the first pull request in couple days.

[2020-01-07 16:54] gavv commented on #236
Great!

[2020-01-07 21:29] dinimar commented on #296
@gavv  If I understood correctly I should use [Debeloper cookbook](https://roc-project.github.io/roc/docs/building/developer_cookbook.html) for building and testing. Am I right?

[2020-01-08 07:39] gavv commented on #296
1. Yes.

2. To roc-tests.

3. It's recommended to group independent changes into separate commits (e.g. bugfixes and new features). See [here](https://roc-project.github.io/roc/docs/development/version_control.html#pull-requests). If PR includes a single feature/fix/etc, one commit is okay of course.

4. The current ServiceQuality test is just an example to provide the general idea. You can change

[2020-01-08 07:51] gavv commented on #233
@dwlsalmeida Hi, how is it going? Do you still have plans to work on this?

[2020-01-08 16:04] dwlsalmeida commented on #233
Hi @gavv

Sorry, I know it is uncourteous to show up and then be gone but life briefly got in the way. Yes I still plan to work on this. Are you guys in a hurry?

[2020-01-08 16:34] gavv commented on #233
No worries. Just pinging in case you've lost interest so that someone else could pick this up.

[2020-01-08 17:46] gavv opened #314 "Implement speex resampler backend"
Implement resampler interface using speex_resampler from libspeexdsp. See #235 for details and rationale.

Steps:

* Add target_speexdsp to SConstruct and 3rdparty.py. See #246 for details on adding a new target directory.

* Add SpeexResampler class, implementing IResampler interface. Place it into roc_audio/target_speexdsp.

* Add ResamplerBackend_Speex to ResamplerBackend enum. Add SpeexResampl

[2020-01-08 17:49] gavv opened #315 "Implement zita resampler backend"
Implement resampler interface using libzita-resampler. See #235 for details and rationale. See also #314.

Steps:

* Add target_zita to SConstruct and 3rdparty.py. See #246 for details on adding a new target directory.

* Add ZitaResampler class, implementing IResampler interface. Place it into roc_audio/target_zita.

* Add ResamplerBackend_Zita to ResamplerBackend enum. Add ZitaResampler to Resam

[2020-01-08 17:52] gavv commented on #235
PR was merged and we are now able to implement new backends. I've created two new issues for that:

* #314
* #315

So I'm closing this one.

@CristobalM thanks! If you'd like to pick up one of those issues please leave a comment there.

[2020-01-08 17:52] #235 closed

[2020-01-10 18:11] ffisherr commented on #236
Hey, i have some troubles while adding libRaptorQ to SConstruct file. Here it is:
/usr/local/include/RaptorQ/v1/caches.hpp:24:10: fatal error: vector: Нет такого файла или каталога
 #include <vector>
How can i solve that?

[2020-01-10 20:15] gavv commented on #236
We don't use STL, but we don't disable it in any way. So the error is unrelated. It's OK if libraptorq uses STL, we just wont be able to enable raptor on some restricted platforms.

[2020-01-11 09:43] gavv commented on #236
You can push your changes to a branch on your fork and I'll take a look at it.

[2020-01-11 10:02] gavv opened #316 "Rework scons install target"
* build (default) target should copy final build results into `build/dist` (with the system file layout, like `build/dist/bin`, `build/dist/lib`, etc)

* install target should just copy `build/dist` into the system; it should not depend on the build target

[2020-01-11 10:04] ffisherr commented on #236
Done.

[2020-01-11 10:06] gavv commented on #236
Have you tried to remove `extern "C"` when including libraptorq headers?

[2020-01-11 10:11] ffisherr commented on #236
In "rq_encoder.h"  #include <RaptorQ/RaptorQ_v1.hpp>? Yes, still doesn't work..

[2020-01-11 10:35] gavv commented on #236
Well, I can't reproduce the error with `<vector>`, probably we have different compiler versions. But I got lots of other errors on your branch:

* compiler is complaining on extern C; it should not be used for C++ headers;
* roc is built with -std=c++98, and the included headers require at least C++11, which causes a lot of compilation errors.

One option would be to modify our build system to use

[2020-01-12 14:10] gavv commented on #229
Answering my questions:

Only with FEC schemes that use RTP for repair packets. SRTP requires RTP header to be present.

Only with Raptor. Reed-Solomon and LDPC don't use RTP for repair packets and there is no standardized way to pack them into RTP.

RTP over DTLS.

[2020-01-12 14:25] gavv commented on #229
So there are SRTP and RTP over DTLS:

* SRTP is widely used, standard, and required by RTSP 2.0 (which we're adding in 0.2) and WebRTC (which we may want to add in future). SRTP is RTP-specific. It gives lower overhead compared to DTLS. However, it wont allow us to use Reed-Solomon and LDPC FEC schemes. Only Raptor (which we're going to implement) and Opus (which is not a FEC scheme but provides s

[2020-01-12 14:27] gavv commented on #229
**Related readings**

DTLS:

* https://tools.ietf.org/html/draft-tschofenig-avt-rtp-dtls-00
* https://tools.ietf.org/html/draft-fischl-mmusic-sdp-dtls-04

SRTP:

* https://tools.ietf.org/html/rfc3711
* https://tools.ietf.org/html/rfc4567

(S)RTCP:

* https://tools.ietf.org/html/rfc4585
* https://tools.ietf.org/html/rfc5124
* https://tools.ietf.org/html/rfc7022

[2020-01-12 22:07] Caynosadler commented on #229
@gavv yeah i think that works, we can open two new issues first

I'll like to take up the Implementation of minimal SRTP codecs using libSRTP, with pre-shared keys / certificates.

[2020-01-13 08:02] gavv commented on #299
Did you also try `--resampler-profile=low`?

Would be also interesting to see the output of `roc-conv` (see example above).

[2020-01-13 10:15] gavv opened #317 "SRTP encoder and decoder"
Create SRTP encoder and decoder using libSRTP. See #229 for background.

Steps:

* Add libSRTP dependency to SConstruct and 3rdparty.py. Add target_libsrtp to SConstruct and enable it when libSRTP is enabled. It should be enabled by default and disabled by --disable-libsrtp scons option. An example of adding a new dependency can be found in #246 and #265.

* Add rtp::SrtpWriter (for sender), imple

[2020-01-13 10:41] gavv opened #318 "DTLS encoder and decoder"
## Overview

Create minimal DTLS encoder and decoder. See #229 for background.

DTLS works on transport level. Instead of sending RTP packets over UDP, we will pack RTP packets into DTLS packets and send DTLS packets over UDP.

Basically DTLS encoder should protect the whole RTP packet (RTP header + RTP payload) and add DTLS header and footer, and DTLS decoder should remove DTLS header and footer

[2020-01-13 10:45] gavv commented on #229
Two new issues:

* #317
* #318

@Caynosadler please leave a comment there so I can assign you.

Closing this one.

[2020-01-13 10:45] #229 closed

[2020-01-13 10:49] Caynosadler commented on #317
@gavv taking this up

[2020-01-13 12:19] gavv commented on #293
Fixed by 82fff9fde88ecc10d0d63fb2f556dffa2297caf4.

[2020-01-13 12:19] #293 closed

[2020-01-13 13:18] gavv commented on #310
Fixed by d8b31fe4660c470b96ccc5096d594bb8d1e7b58b.

[2020-01-13 13:18] #310 closed

[2020-01-13 15:46] gavv opened #319 "Improve API documentation"
- [ ] How to use the library (includes, linking)
- [ ] More examples
- [ ] Tutorial (#306)
- [ ] Bindings

[2020-01-13 15:48] gavv opened #320 "Improve building documentation"
- [ ] Document `--build-3rdparty`: https://github.com/roc-project/roc/issues/246#issuecomment-530862789
- [ ] Document `vendor/`

[2020-01-13 16:00] gavv opened #321 "Add "Configuration" section to documentation"
- [ ] Network connectivity
- [ ] Audio backends
- [ ] Latency (#255)
- [ ] Service quality
- [ ] Multicast and broadcast (#308)

[2020-01-13 16:12] gavv opened #322 "Update documentation for 0.2 release"

[2020-01-13 16:41] gavv commented on #308
Fixed with d159cdf3bedcf0bf09e7048568fa43c38db91c19 and 328f330cafed835e7348c46076c13f949b994187.

However note that broadcast may work extremely bad on Wi-Fi. See these SO threads:

* https://superuser.com/questions/695813/
* https://stackoverflow.com/questions/1735952/

The reasons are:

* access point uses the lowest common denominator transmission speed of all supported or connected devices (d

[2020-01-13 17:48] #308 closed

[2020-01-13 20:36] CristobalM commented on #314
Hi @gavv,

I've tried to advance on this, but I haven't been able to make it work. From what I've read, I concluded that most of the work for this should be done in the resample_buff method inside SpeexResampler class, like in this attempt:

https://github.com/CristobalM/roc/blob/speex_resampler/src/modules/roc_audio/resampler_speex.cpp

But I'm not sure what is the input and output of resample_bu

[2020-01-13 20:52] BeyondChrispy commented on #313
Hi Victor,

Yes, that sounds good.  Thanks so much for your input.

Chris.

On Tue, 7 Jan 2020 at 08:37, Victor Gaydov <notifications@github.com> wrote:

[2020-01-14 18:17] dwlsalmeida commented on #233
@gavv https://github.com/roc-project/roc-java/pull/1

[2020-01-15 15:21] gavv commented on #296
May be useful: https://github.com/gavv/signal-estimator/

[2020-01-16 11:05] gavv commented on #314
Hi, good to know that you're still interested! I'll prepare a reply soon.

[2020-01-16 19:42] gavv commented on #314
Let's talk about `ResamplerReader`. (`ResamplerWriter` is similar).

`ResamplerReader` implements `read()` operation by:

1. reading frames from *nested reader* to a circular buffer (`frames_`)
2. passing current circular buffer state to `IResampler::renew_buffers()`
3. asking `IResampler::resample_buff()` to read samples from circular buffer until it fully fills the output frame **OR** reports (b

[2020-01-16 19:51] gavv commented on #314
Regarding tools and debugging.

You can use `roc-conv` tool to read wav file, run resampler, and write output to wav file.

You can generate the input wav file and visualize output wav in python or matlab, for example.

Look at #153. It provides some examples and scripts.

Here are some random scripts that I have locally: https://gist.github.com/gavv/41db26aa76737e72f70112293d7ddae4

`gensine.py`

[2020-01-16 19:58] gavv commented on #314
Regarding speex resampler.

I guess it will maintain the circular buffer, and the pointer inside it, by itself.

So I guess `SpeexResampler::resample_buff()` should pass `curr` to speex and ask to fill the output frame until speex reports there is no more data in `curr`. Then `SpeexResampler::resample_buff()` should return false to renew buffers. And it seems that it will completely ignore `prev`

[2020-01-16 20:03] gavv commented on #314
Feel free to ask if you'll have any other questions.

[2020-01-18 13:24] gavv opened #326 "Add roc_peer module"
Currently our most top-level internal component is roc_pipeline. Both C API and command-line tools are built on top of it.

In 0.2 we're introducing roc_ctl (#214) and endpoints (#258). The user will ask to bind endpoint or to connect to endpoint, and some code will issue corresponding calls both to roc_ctl and to roc_pipeline. This code will be the same in API and tools.

We also have plans to ad

[2020-01-18 20:27] dinimar commented on #296
@gavv I've created [demo test](https://github.com/dinimar/roc-tests/tree/i-296-sandbox) for NoLoss case, but it turns out that first 70 frames contains zero values i.e. that frames wasn't received. I saw that I should create this test considering possible leading zeros. But how many of leading zeros I should expect to say that the test is passed?

[2020-01-18 20:45] gavv commented on #14
## Related RFCs

RTCP and SDP:

* https://tools.ietf.org/html/rfc3605
* https://tools.ietf.org/html/rfc3556
* https://tools.ietf.org/html/rfc3890

Multiplexing RTP and RTCP:

* https://www.rfc-editor.org/rfc/rfc5761
* https://www.rfc-editor.org/rfc/rfc8035

RTP/AVPF and XRs:

* https://tools.ietf.org/html/rfc4585
* https://tools.ietf.org/html/rfc5725

[2020-01-18 21:04] gavv commented on #296
Great.

Leading zeros are expected. Receiver produces zero stream when there are no sessions. So it will produce zeros until sender is connected and the session started. And the session is started only when it accumulates some amount of samples, so you will always get some delay before first non-zero sample.

No frames should be dropped. After some amount of leading zeros, you should read the very

[2020-01-19 19:12] CristobalM commented on #314
Thank you. Now I get recognizable sound from speex! But the tests are failing

![Screenshot from 2020-01-19 15-39-08](https://user-images.githubusercontent.com/1232585/72686302-e4d59580-3ad1-11ea-9d75-7eb4d172a022.png)

As soon as I solve those I'll create a PR

[2020-01-19 19:41] gavv commented on #314
Great! Regarding the test, see also #105. Maybe you'll need to adjust the tests.

[2020-01-20 08:04] gavv opened #327 "Create peer::MultistreamTransceiver"
After finishing roc_peer and roc_ctl, we should create peer::MultistreamTransceiver, implementation of the API described in #260.

Probably, we should also use it instead of peer::Sender and peer::Receiver in tools and API.

Later we should also add a command-line tool for this API.

[2020-01-20 11:23] gavv commented on #313
@BeyondChrispy I've implemented this feature. It's pushed to `develop` branch. Could you test it?

Example:

[code]

[code]

Manual page for roc-recv from `develop`: https://github.com/roc-project/roc/blob/develop/docs/sphinx/manuals/roc_recv.rst (grep for "backup").

Note that in `develop`, the command-line syntax changed a bit. It uses URIs for files and devices.

I think `develop` wont be merge

[2020-01-20 11:42] gavv commented on #162
@RohanK99 I've also added `pipeline::ConverterSource` to develop. We'll need to add `ProfilingReader` to it too.

[2020-01-21 07:52] gavv opened #328 "Improve integration tests for public API"
Currently we have 3 [integrations tests](https://github.com/roc-project/roc/blob/d61d81ace3fd443d966c21b519e2cc08861f61bb/src/tests/roc_library/test_sender_receiver.cpp#L429) for our [C API](https://roc-streaming.org/toolkit/docs/api.html):

* without FEC
* with Reed-Solomon FEC and without losses
* with Reed-Solomon FEC and with losses

We need to cover more parameter combinations:

- [x] Use sin

[2020-01-21 08:21] gavv opened #329 "Add options to simulate packet losses and delays"
It would be very handy for debugging to be able to simulate packet losses on delays directly in roc-send and in roc-recv tools.

The following solution is suggested:

* Create a new packet::IWriter implementation called packet::Jammer. It's write() method just passes packets to the nested IWriter, but sometimes it drops or delays some of the packets.

  * Jammer should be configurable with three p

[2020-01-21 20:35] dinimar commented on #296
If we send N frames does it mean that in any case we must receive all N frames?

[2020-01-22 07:21] gavv commented on #326
Done.

[2020-01-22 07:21] #326 closed

[2020-01-22 07:57] gavv opened #330 "Rework port concept in roc_pipeline"
Currently roc_pipeline routes packets by their transport address (host + port).

Now we're migrating from ports to endpoints (#258) and adding RTSP support and this approach is no longer functional because:

* some streams will be identified by URI, not just by host and port
* some streams will not have transport address, e.g. if we're sending RTP stream inside RTSP TCP connection

Currently we ha

[2020-01-22 11:04] #244 closed

[2020-01-24 13:48] gavv commented on #330
Done.

[2020-01-24 13:48] #330 closed

[2020-01-28 19:30] davex25 commented on #255
[latency_examples.zip](https://github.com/roc-project/roc/files/4124107/latency_examples.zip)

Attached are some mp3 output examples of my setup, which consists of a wired connection between a source and sink, with ping times between hosts of .5 ms. Source is using sox alsa roc driver, which receives sounds via pulseaudio monitor of system output. Receiver uses wav output, frame size of 128 at var

[2020-01-29 18:53] gavv commented on #255
@davex25 Thanks. Could you attach exact commands you've run and roc-recv output with `-vv` option (verbose logs)? roc-send output will be probably useful too. Also, what hardware (CPU) are you using?

[2020-01-30 17:53] BeyondChrispy commented on #313
Thank you Victor!  I have had a busy time of late, but I'll endeavor to get
it tested as soon as I can!

Chris.

On Mon, 20 Jan 2020 at 11:23, Victor Gaydov <notifications@github.com>
wrote:

[2020-01-30 17:56] gavv commented on #313
Thanks, no hurry.

[2020-02-06 20:35] gavv commented on #258
Done.

[2020-02-06 20:35] #258 closed

[2020-02-06 20:58] gavv commented on #217
I'm unassigning the issue so as someone else could pick it up.

@biljith feel free to ping me if you still have plans on it.

[2020-02-07 13:55] gavv opened #332 "Improve and extend API examples"
Basic sender and receiver:

* [x] `basic_sender_sine_wave`
* [x] `basic_sender_from_pulseaudio`
* [x] `basic_receiver_to_pulseaudio`

Network protocols:

* [x] `send_receive_rtp`
* [x] `send_receive_rtp_with_fecframe`

Miscellaneous:

* [x] `uri_manipulation`

[2020-02-07 19:23] gavv commented on #164
PR is merged. So we have finally finished migration from samples to nanoseconds, which is cool :) Thanks @hrishikeshSuresh!

[2020-02-07 19:23] #164 closed

[2020-02-08 08:59] zuowanbushiwo opened #333 "Yocto Project build errors"
Hi :
I  Cross-compiling   roc  with  yocto project toolchain and have a follow problem：

yangjie@ubuntu:~/roc$ scons --host=arm-oe-linux-gnueabi  --build-3rdparty=all
scons: Reading SConscript files ...
Searching CXX executable... (cached) arm-oe-linux-gnueabi-g++  -march=armv7-a -mfpu=neon -mfloat-abi=hard --sysroot=/home/yangjie/qcs40x_origin_toolchain/sysroots/armv7ahf-neon-oe-linux-gnueabi
Sea

[2020-02-10 08:38] gavv commented on #333
Hi, thanks for reporting.

Could you post your environment when running scons? In particular, `env | grep CXX`?

I suspect that `CXX` is defined as something like:

[code]

If it's true, this is likely the source of the problem. It seems our SConstruct can handle `CXX` only when it defines a bare executable, but can't handle it when it defines executable + arguments.

This needs to be fixed. But a

[2020-02-10 09:36] gavv commented on #333
I've prepared a possible fix, it's pushed to `feature/cxx_args` branch. Could you try it?

[2020-02-10 13:54] zuowanbushiwo commented on #333
Hi  gavv
feature/cxx_args  branch without this error.

env | grep CXX result:
CXXFLAGS= -O2 -fomit-frame-pointer    -Wa,--noexecstack -fexpensive-optimizations   -frename-registers -ftree-vectorize   -finline-functions -finline-limit=64   -Wno-error=maybe-uninitialized -Wno-error=unused-result     -DTARGET_ION_ABI_VERSION=2  -DTARGET_ION_ABI_VERSION=2

CXX=arm-oe-linux-gnueabi-g++  -march=armv7-a

[2020-02-10 14:00] gavv commented on #333
So my assumption was correct. Great, thanks. I've pushed the fix to master. Can we close this?

[2020-02-11 00:16] zuowanbushiwo commented on #333
yes
thanks!

[2020-02-11 00:25] zuowanbushiwo commented on #333
Another error：
scons: Reading SConscript files ...
Searching CXX executable... (cached) aarch64-oe-linux-g++  --sysroot=/home/yangjie/qcs405toolchain/sysroots/aarch64-oe-linux
Searching CONFIG_GUESS script... (cached) /usr/share/misc/config.guess
Searching CC executable... (cached) aarch64-oe-linux-gcc  --sysroot=/home/yangjie/qcs405toolchain/sysroots/aarch64-oe-linux
Searching CXXLD executable...

[2020-02-11 10:02] gavv commented on #333
I've pushed one more fix to `feature/yocto`, please try it.

[2020-02-12 00:10] zuowanbushiwo commented on #333
Hi gavv：
Another error：
yangjie@ubuntu:~/roc$ source ~/qcs405toolchain/environment-setup-aarch64-oe-linux
yangjie@ubuntu:~/roc$ scons --host=aarch64-oe-linux  --build-3rdparty=all
scons: Reading SConscript files ...
Searching CXX executable... (cached) aarch64-oe-linux-g++  --sysroot=/home/yangjie/qcs405toolchain/sysroots/aarch64-oe-linux
Searching CONFIG_GUESS script... (cached) /usr/share/misc/c

[2020-02-12 09:23] gavv commented on #333
This one is strange. Maybe some cmake issue.

Could you run the following commands and post their output? (I guess the output will be large enough, so please post it to [github gist](https://gist.github.com/) or some pastebin service.)

**1.**

[code]

**2.**

[code]

**3.**

[code]

**4.**

[code]

**5.**

[code]

[2020-02-13 00:32] zuowanbushiwo commented on #333
@gavv
github gist is banned in our country. I uploaded the compilation tool chain I used to onedrive. There are two files in the compressed package. You can follow the readme.txt operation inside.,it is easy!
thanks
https://1drv.ms/u/s!As0qhgN9uOD3h3IJZUWpgTJ5RaU_?e=1LmHwF

[2020-02-18 07:50] Pandiora opened #334 "Provide PKGBUILD for Arch Linux"
Since I encountered the same issues on Arch like described in [this issue](https://github.com/roc-project/roc/issues/266) (add pthread flag) and furthermore needed to reinstall python on a second machine running Arch too (missing scons module [add dependency?]), I wanted to ask if it would be possible to create a PKGBUILD which handles the compilation for us? Obviously lots of users would profit b

[2020-02-19 09:15] alexandremgo opened #335 "Parser memory leak"
Hey! It seems that in some cases, our Ragel parsers create a memory leak.
To reproduce, if we add for example " test" to the string being parsed ("rtsp://host:123/path?query test"):

https://github.com/roc-project/roc/blob/bc364daf9f77c83706354c19c139b111414a1a0d/src/tests/roc_address/test_endpoint_uri.cpp#L89-L102

The following error appears:

[code]

[2020-02-28 23:22] tari3x opened #336 "why is streaming audio so difficult?"
I do apologize for the obnoxious title, and I wish there was a "questions" section for this.

I have tried to use both pulseaudio tcp module and pulseaudio roc to stream audio to my raspberry pi 3, and I still get regular glitches even when I set latency to 500ms. I am utterly perplexed by this. Here are some specific questions:

1. What could possibly be causing this? The bandwidth is over 10mbit

[2020-03-01 13:04] cmdwiggles commented on #152
A crude fix to this can be implemented by outputting an inaudible tone from pulse audio.
I added this line to my pulse audio config:

load-module module-sine frequency=1

[2020-03-03 10:03] gavv commented on #335
Hi Alexandre, sorry for late replay, was very tired last days.

Actually this is not a real leak. It's just an unexpected side effect of the test failure. We have the same problem with a few other tests as well.

The problem is caused by CppUTest behavior. When STRCMP_EQUAL (or any other check) fails, it performs a long jump (as you can see from backtrace BTW) and thus skips all local destructors.

[2020-03-04 10:58] gavv commented on #152
@cmdwiggles thanks for info

[2020-03-04 11:54] gavv commented on #336
Hi,

Thanks for your interest and for taking time to report this.

First, here are some general ideas of what can cause glitches. Theoretically, every element of the transmission chain can cause them:

* roc on sender
* pulseaudio on sender
* network stack on sender
* network channel
* network stack on receiver
* roc on receiver
* pulseaudio on receiver

What network channel do you use? If you're

[2020-03-04 11:55] gavv commented on #336
Second, here are some more specific suggestions.

We can isolate the problem by running a few tests using `roc-send` and `roc-recv` command-line tools with `-vv` option. Verbose logs can give an idea why there are glitches.

The tests:

1. `roc-send` reading from file, `roc-recv` writing to file (so test only network)

2. `roc-send` reading from file, `roc-recv` writing to PulseAudio (test network

[2020-03-04 11:56] gavv commented on #336
That's OK, we have a discussion label for this. Also, we have a [mailing list](https://roc-project.github.io/roc/docs/about_project/contacts.html), which is more appropriate for extensive discussions like this.

[2020-03-04 12:13] gavv commented on #336
Yeah, and answering the title:

I think in future versions we will be able to make it easier for the user. Most likely, in 0.4 we will implement adaptive streaming, i.e. Roc will automatically adjust latency and FEC parameters according to the network conditions, so that the user wont need to debug and adjust them manually.

In next releases, maybe in 0.6, I'm planning to spend more time on Roc Pu

[2020-03-04 14:44] gavv commented on #334
Hi, sorry for late reply!

Creating PKGBUILD (as well as packaging for other distros) would be appreciated. For that we'd need someone who uses Roc on Arch and wishes to maintain the PKGBUILD.

Personally I don't use Arch, but if you or someone else would like to become a package maintainer, I'd be happy to help in any way.

Hm, last time I wasn't able to reproduce it. I'll try once more in archli

[2020-03-04 15:07] tari3x commented on #336
Thanks for the suggestions! I can try them out, but I think that any explanation we come up with needs to account for the fact that mplayer on the sender works almost fine, and soundcloud player doesn't. For instance, is it possible that soundcloud player drip feeds data to pulseaudio, and mplayer feeds a lot more at once? Whether this is possible depends on how the pulseaudio API is structured, w

[2020-03-04 15:50] gavv commented on #336
I have a habit to debug things step-by-step, but I guess you're right, if there are almost no glitches when streaming from mplayer to raspberry, we can skip these steps.

However, I think it would be useful at least to look at `roc-recv -vv` or `pulseaudio -vvv` logs at the receiver side, when there are glitches. And ideally at `pulseaudio -vvv` logs at the sender side too.

Maybe.

Could you chec

[2020-03-04 15:55] gavv commented on #334
No, I can't reproduce the issue. Could you post your build commands and logs when the error ocurres?

[2020-03-04 19:51] gavv commented on #336
Thanks!

[2020-03-05 20:38] aj-thomas-8 commented on #302
Hey I can work on this if no one else is already doing so

[2020-03-06 09:56] gavv commented on #302
@aj-thomas-8 You're welcome!

[2020-03-06 23:38] tari3x commented on #336
So I looked at it again, and to my embarrassment I cannot reproduce the glitches when simply playing music and doing nothing else with network. Not sure what changed since the last time. I guess it's possible some other website in the background was pulling crap.

However, I still reliably get glitches when trying to load a web page. Is that surprising? When that happens, nothing interesting is pr

[2020-03-09 09:25] gavv commented on #334
Would be great!

Thanks, I'll take a look into it.

[2020-03-09 20:52] Pandiora commented on #334
@gavv I already created a PKGBUILD with a patch for pthread flag, but I still need to rewrite it so it just downloads the latest release.

Maybe you can help me: Your build instructions download pulseaudio, but with PKGBUILD's I'm just putting pulseaudio as dependency and for most users pulseaudio shouldn't get downloaded (again) this way. So my problem now is that in your docs you provide a param

[2020-03-15 16:13] alexandremgo commented on #335
Making the HeapAllocator global worked indeed, thanks for the explanation!

[2020-03-22 01:17] unguest commented on #329
It Would be nice, I'd work on it !

[2020-03-22 01:41] unguest opened #337 "A discord server for developers"
I discovered this project 2 days ago and I'm currently working on the implementation of packet jammer functions. I've noticed it would be great to have a discord server to discuss directly (and of course it would be much simpler for newbies like me developing their first implementation ^^).

Maybe there is already something different for that purpose (Slack, Ryver, ...) ?

[2020-03-22 03:53] fusuiyi123 commented on #102
Hi @gavv i will send a pr for this, thanks.

[2020-03-22 04:33] fusuiyi123 commented on #102
Q: I don't quite understand the original `random()` usage here: https://github.com/roc-project/roc/blob/master/src/modules/roc_audio/packetizer.cpp#L38, and `int uv_random(uv_loop_t* loop, uv_random_t* req, void* buf, size_t buflen, unsigned int flags, uv_random_cb cb)` returns succeed or not, which I don't quite understand how to use it here. New to this repo and your docs really impressed me, Wo

[2020-03-22 07:37] dshil commented on #337
Hi @unguest and thanks for your interest in the project. Currently, we do not use discord. If you want to reach us, you could the [following resources](https://roc-project.github.io/roc/docs/about_project/contacts.html)

[2020-03-27 12:27] CleverShovel commented on #328
I would like to try write these tests.

[2020-03-27 13:13] zapphyre opened #338 "No package 'libuv' found while cross-compiling"
Hi guys!
I'm trying to install ROC on my RPI so, I'm just following the cookbook steps.
While cross-compiling, I get the following error:
[code]
[code]
I'm on Archlinux now.

Appreciate your help and thank you for great efforts!!

[2020-03-27 16:44] gavv commented on #328
@CleverShovel Great, you're welcome!

[2020-03-27 16:47] gavv commented on #329
@unguest Great, thanks!

PS. I saw your question in IRC, but was away, sorry. Yes, you figured it out right. And also OFEncoder was renamed to OpenfecEncoder (same for decoder).

[2020-03-27 16:57] gavv commented on #337
Hi, as mentioned by Dmitriy, we have a mailing list and an IRC channel, feel free to join them. Personally I prefer mailing lists for technical discussions.

IRC is not very convenient because you wont receive messages sent to you when you were offline, but this can be solved by using a Matrix client to login to IRC, as described in our docs. (There are other solutions too).

We use IRC just becau

[2020-03-27 17:05] gavv commented on #102
@fusuiyi123 Hi, you're welcome.

We generate a random number in range [0; 2^32) and assign it to `source_`. (`packet::source_t` is a 32-bit unsigned integer and so `packet::source_t(-1)` is 2^32-1).

If `uv_random` fails, we should fail Packetizer initialization. We can do it by adding `bool valid_` field and using it like this:

[code]

Then we can use `Packetizer::valid()` to check whether it wa

[2020-03-27 17:26] CleverShovel commented on #328
@gavv Is this normal that in roc_library directory there are files like test_context.cpp, test_sender.cpp and others and I will add test_context.h and others but they will not related to these cpp?

[2020-03-27 17:38] gavv commented on #328
Good catch. Since this issue was created, the file layout in tests was changed a bit. According to the new layout, these files should be named like `roc_library/test_helpers/context.h`, `roc_library/test_helpers/sender.h`, etc. See, for example, tests for roc_pipeline or roc_audio.

[2020-03-27 18:39] gavv commented on #335
Resolved by 0066875333d834507751d898a2bbfa28a169a9d2

[2020-03-27 18:39] #335 closed

[2020-03-28 03:59] aj-thomas-8 commented on #302
In the case of nested readers, if a read operation returns an EOF error, is it still supposed to break and return the EOF error?

[2020-03-28 05:19] fusuiyi123 commented on #102
Hi @gavv sorry if I ask dumb question.
Here
[code]
these 3 var are assigned random number. Now we want to replace them with `int uv_random(uv_loop_t* loop, uv_random_t* req, void* buf, size_t buflen, unsigned int flags, uv_random_cb cb)`, which however is `Fill buf with exactly buflen cryptographically strong random bytes acquired from the system CSPRNG`. How this can be used here? Thank you:)

[2020-03-28 08:50] gavv commented on #102
You can look at current core::random() implementation (which we should rename to core::fast_random()). I think we need something similar, but using `uv_random()` instead of `nrand48()` to generate random numbers.

[2020-03-28 08:54] gavv commented on #302
I think yes. EOF should indicate that the frame was not read and there are no more frames to read. BTW probably better name it ErrEOS (end of stream) or maybe even ErrEndOfStream.

[2020-03-28 10:44] gavv commented on #338
Hi, thanks for reporting!

We have changed the dependency name from `uv` to `libuv`. We have also added `libunwind` dependency. So the correct list would be:

`--build-3rdparty=libuv,libunwind,openfec,alsa,sox`

(as documented here https://roc-project.github.io/roc/docs/building/user_cookbook.html)

This command works for me, could you try it?

[code]

I think we should warn about unknown dependen

[2020-03-28 18:34] fusuiyi123 commented on #102
hmm I am new to this concept, how to transform bytes `void* buf` to a random number..?

[2020-03-28 20:26] CleverShovel commented on #328
@gavv Does each item from the list in issue description mean concrete tests or only a parameter to combine?

[2020-03-29 08:56] gavv commented on #328
Well, it's just a list of features to be covered somehow. Obviously, we can't create a test for every possible combination of these features because there were too much tests. So, likely, we should create one or a few test for every specific item. E.g., for `Enable or disable packet interleaving` we can create one test covering both cases or two separate tests, one w/o interleaving, one w/ interle

[2020-03-29 09:46] gavv commented on #102
`uv_random` fills the provided buffer with random bytes. You can just use the number as "a buffer", something like this:

[code]

After this call, `num` will contain a random integer in range [0; 2^32).

The next step is to generate a uniformly-distributed random numbers in range [from; to] based on this. We can use the same technique with a loop, as we do in current `core::random()` implementatio

[2020-03-29 12:00] gavv commented on #338
Pushed to develop: 694f7cc9e788e3ddb648f9f9d55c1fc70513dab7

[2020-03-29 17:09] fusuiyi123 commented on #102
thanks I finally understand it.. please recommend me a c++ book:)

[2020-03-29 17:22] zapphyre commented on #338
worked and it's working great! (arch&mac -> arch@rpi)
thanks!

[2020-03-29 18:30] gavv commented on #338
Good to know!

[2020-03-29 18:30] #338 closed

[2020-03-29 18:38] gavv commented on #102
I've sent you an email.

[2020-03-29 18:45] fusuiyi123 commented on #102
thanks! I met an issue: though I have `#include <uv.h>` in `secure_random.cpp`, I have `src/modules/roc_core/target_posix/roc_core/secure_random.cpp:56:13: error: use of undeclared identifier 'uv_random'
        if (uv_random(NULL, NULL, &val, sizeof(val), 0, NULL) && val >= min) {`

[2020-03-29 18:51] fusuiyi123 commented on #102
I saw this is `New in version 1.33.0.` and https://github.com/roc-project/roc/blob/master/SConstruct#L28 gives `1.5.0` default, I am not sure if it is related to this

[2020-03-29 19:18] gavv commented on #102
Oh, I didn't notice that this is a new function. So you're using an older libuv?

Then let's do the following:

* change default from 1.5.0 to 1.33.0
* add in ifdef to check libuv version; if we're using an old one, fallback to fast_random()

[2020-03-29 19:19] gavv commented on #102
Later we'll add an optional alternative secure_random() implementation using OpenSSL, so it'll be possible to have a correct implementation even with old libuv.

[2020-03-29 20:53] fusuiyi123 commented on #102
Thanks so much, I raised a pr and listed my question over there.

[2020-03-30 10:39] gavv commented on #309
Assigned to @fusuiyi123

[2020-03-30 12:26] slole opened #343 "How can I test/troubleshoot?"
I recently found out about this project and I set it up according to: [this](https://gavv.github.io/articles/roc-tutorial/). I have an old HP thin client acting as the "receiver" running Debian 10 on i686 and pulseaudio. And as the client or "transmitter" I have a desktop running Arch. After setting everything up, the sink shows up on the desktop and everything seems to be fine on the receiver as

[2020-03-30 16:10] gavv commented on #102
FYI: 90e5533759ff03ca888e80d3842756a925f805e9 (pushed to develop)

[2020-03-30 17:01] slole commented on #343
Nevermind, found out `ufw` was causing the issue by blocking the traffic.

[2020-03-30 17:01] #343 closed

[2020-03-31 00:00] fusuiyi123 commented on #102
Hi @gavv
I tried searching around but I actually don't know the appropriate key word to search for ifdef to gather library version...
What I can think of is like this but I don't find how to gather the libuv version.
[code]
This causes part of the build failure, and the other one is like`error: can't make 'libuv-1.33.0', see '3rdparty/aarch64-linux-gnu/gcc-7.4.1-release/build/libuv-1.33.0/build.lo

[2020-03-31 08:48] gavv commented on #307
Merged.

[2020-03-31 08:48] #307 closed

[2020-03-31 09:28] gavv commented on #343
Good to know the issue is resolved :) And thanks for reporting anyway.

For information:

* Your `roc-recv` log does not contain `... creating session ...` messages, neither it reports that any packets were dropped. This usually means that it did not receive any UDP packet at all.

* You can run `roc-send` and `roc-recv` with `-vvv` instead of `-vv`. This may hurt performance, but will give verbos

[2020-04-01 17:51] fusuiyi123 commented on #102
thanks a lot! I already did that in my pr after a scan at the source code though.

[2020-04-01 18:05] gavv commented on #333
Hi, sorry for late reply.

I've fixed the build, you can try fresh `develop` branch. This command should work now:

[code]

While testing this, I've also prepared a [docker image](https://hub.docker.com/repository/docker/gavv/oecore-x86_64-armv7ahf-neon-toolchain-nodistro) with your `oecore-x86_64-armv7ahf-neon-toolchain-nodistro` toolchain pre-installed. You can use it like this:

[code]

[2020-04-02 00:42] zuowanbushiwo commented on #333
Hi gavv
   Thank you very much for continuing to follow up on this issue。
   I use the latest  develop branch code and have another problem：
   [execute] ./configure --host=aarch64-oe-linux 'CXX=aarch64-oe-linux-g++ --sysroot=/home/yangjie/qcs405toolchain/sysroots/aarch64-oe-linux' 'CXXLD=aarch64-oe-linux-g++ --sysroot=/home/yangjie/qcs405toolchain/sysroots/aarch64-oe-linux' 'CC=aarch64-oe-linux-g

[2020-04-02 09:33] gavv commented on #309
Merged.

[2020-04-02 09:33] #309 closed

[2020-04-02 10:20] gavv commented on #333
From your `build.log`, it seems that PulseAudio decided to use Orc, but then failed because it didn't find `orcc` on the system.

I've pushed a patch to `develop` that disables `orc` when building PulseAudio (103e7397ffe1b77458ca4158e586be01f1165a94).

If it wont help you, you can try to install Orc to make PulseAudio happy. On Ubuntu, `/usr/bin/orcc` is provided by `liborc-0.4-dev` (or maybe `lib

[2020-04-02 13:25] gavv commented on #334
Hi, sorry for late reply, I was too busy and tired last month.

[2020-04-02 13:25] gavv commented on #334
Regarding `-pthread` error. Thanks for detailed clarifications.

It seems that `-pthread` option is handled by `libtool` and it decides whether it is needed / supported on the current platform. It seems that on some platforms, it fails to add it. Other people report similar problems too: https://github.com/kevinkreiser/prime_server/issues/41

I've pushed a patch to `develop` (fd31def45268b18b6d24f

[2020-04-02 13:29] gavv commented on #334
Regarding PulseAudio.

Unfortunately, PulseAudio doesn't provide an official API and infrastructure for external (out-of-tree) modules. So nominally it is extensible by modules, but all modules have to be part of the PulseAudio repository.

People tend to create out-of-tree modules from time to time (for their own risk), but building such modules would require fully built PulseAudio source tree. T

[2020-04-03 00:29] zuowanbushiwo commented on #333
Hi  gavv
   Compile successfully with the latest develop branch code，thank you very much！

[2020-04-03 00:29] #333 closed

[2020-04-03 04:51] fusuiyi123 commented on #305
I can take a look at this:D

[2020-04-03 05:22] gavv commented on #333
Finally! You're welcome.

[2020-04-03 06:59] Pandiora commented on #334
@gavv Thanks a lot, that clarified a lot of my questions. I still didn't uploaded a PKGBUILD since I was busy myself and unsure if I should create a dev-version or a release-based version. For now I think it would be more appropriate to go for releases only and patch the pthread part for the latest release until your implementation is part of a new release. I will report back when I finished and t

[2020-04-03 07:09] gavv commented on #334
I'm planning to release 0.1.5 in a few days, which will include the pthread fix.

[2020-04-03 10:53] Pandiora commented on #334
Okay, it took me so long now, I can wait until then. :)

[2020-04-03 11:19] gavv commented on #334
Meanwhile, could you please check that the fresh develop fixes the pthread issue for you? (without patching 3rdparty.py)

[2020-04-03 12:22] gavv commented on #305
You're welcome.

[2020-04-04 12:38] Pandiora commented on #334
@gavv I'm still getting errors: https://gist.github.com/Pandiora/70b2e52385b5112bd5edd816318fbe95

[2020-04-04 13:32] gavv commented on #334
Strange, the current code should add either `-pthread` or `-lpthread`, depending on whether we're using a GNU toolchain. And in your log there is neither of them.

What commit are you using? Did you run something like:

[code]

or did a fresh clone?

[2020-04-04 14:12] Pandiora commented on #334
@gavv Okay, sorry, my mistake. It were a fresh clone, but I tried to use the cpputest from AUR, which didn't worked like I expected. It now seems to add the flags correctly.

[2020-04-04 21:36] CleverShovel commented on #328
@gavv As far as I can see for parallel test of multiple senders and one receiver I should add another one `roc_endpoint` and `roc_receiver` in `Receiver` class and additionally adjust while cycle in method `Receiver::run()`. Am I right?

[2020-04-05 18:56] gavv commented on #328
You can connect multiple senders to the same endpoint(s). The receiver will mix them. You need to adjust the received stream checking to expect the stream mixed from multiple senders.

The hard thing here is that you don't known how the streams from different senders are shifted. One possible way to deal with it is to make the first sender produce stream like 10, 20, 30, ..., and the second sender

[2020-04-05 20:20] gavv commented on #328
`multiple_senders_one_receiver_sequential` is failing quite often, I disabled it for now.

https://travis-ci.org/github/gavv/roc/jobs/671349254

![fail2](https://user-images.githubusercontent.com/8436629/78509041-dd9a5b80-7793-11ea-8a2f-9bc56170b302.png)

https://travis-ci.org/github/gavv/roc/jobs/671349250

![fail1](https://user-images.githubusercontent.com/8436629/78509050-e8ed8700-7793-11ea-84e

[2020-04-05 20:28] gavv commented on #334
I've tagged the 0.1.5 release: https://github.com/roc-project/roc/releases/tag/v0.1.5

[2020-04-05 20:39] CleverShovel commented on #328
@gavv ok, I'll check it more carefully

[2020-04-06 10:19] gavv commented on #336
Hi, sorry for so late reply.

This log looks like the router delays packet delivery from time to time (the full log would be more helpful though). Apparently, when you're loading a web page, the channel capacity is exhausted and the audio packets are queued until the page is loaded.

This normally not a case, but I saw such situations on some bad networks, e.g. in hotels or at a cafe.

Why it may

[2020-04-06 18:25] CleverShovel commented on #328
@gavv When I debugged the test in [`Receiver::run()`](https://github.com/roc-project/roc/blob/develop/src/tests/roc_library/test_helpers/receiver.h#L95) I get these data in `rx_buff`:
![Снимок экрана от 2020-04-06 21-47-09](https://user-images.githubusercontent.com/37588466/78589609-88248400-7851-11ea-81d5-0368573b8cdd.png)
![Снимок экрана от 2020-04-06 21-49-29](https://user-images.githubusercont

[2020-04-06 19:07] gavv commented on #102
PR is merged.

[2020-04-06 19:07] #102 closed

[2020-04-07 04:48] aj-thomas-8 commented on #302
Should calls to the panic macros in write/read operations be replaced by breaking and returning the appropriate error code instead? For instance, the write function of the `Packetizer` class calls a panic macro if the encoder doesn't encode the expected number of samples. So would this be replaced by the write function returning an error code instead?

[2020-04-07 05:37] gavv commented on #302
No, panics are used like assertions. They cover internal contracts / invariants and triggering a panic means a bug in the code to be fixed, but not a valid situation to be handled.

In particular, encoder may write lesser samples than requested only when the buffer is too small. However, packetizer takes care to calculate the proper buffer size, so this panic can't happen unless there is a bug in

[2020-04-07 05:55] aj-thomas-8 commented on #302
That makes sense. Thanks!

[2020-04-07 07:28] gavv commented on #246
@billionai Hi, do you still have plans to finish this?

[2020-04-07 07:29] gavv commented on #297
@@allstaralok Do you still have plans to work on this?

[2020-04-07 07:30] gavv commented on #296
@dinimar  Hi, do you still have plans to finish this?

[2020-04-07 07:32] gavv commented on #231
@davex25 Hi, do you still have plans on this?

[2020-04-07 07:33] gavv commented on #317
@Caynosadler Do you still have plans on this?

[2020-04-07 07:33] gavv commented on #236
@ffisherr Do you still have plans on this?

[2020-04-07 12:12] billionai commented on #246
@gavv hi. Sorry, I think I bitten off more than I could chew. My lack of understanding of audio and the libsndfile documentation in general means I've made almost no progress other than copying the code from SoX and being confused about the functions that libsndfile doesn't have.

Thanks for your help, your guidance was really helpful and appreciated, but I won't be able to complete it in any acce

[2020-04-07 12:28] gavv commented on #246
No problem, thanks for letting know! Maybe this discussion will help someone else. I'll unassign the issue so that somebody could pick it up.

[2020-04-07 18:24] gavv commented on #233
https://github.com/roc-project/roc-java/pull/2

[2020-04-08 03:27] fusuiyi123 commented on #305
Hi @gavv if I understand correctly, https://github.com/roc-project/roc/blob/develop/src/modules/roc_audio/depacketizer.cpp#L108-L114 each time we should either `read_missing_samples_` or `read_packet_samples_` so that each time it is either `FlagBlank` or not `FlagBlank`?

[2020-04-08 08:15] gavv commented on #328
This looks very strange. If receiver produces samples out of range [0; 1], it's a bug. But are you sure that you're debugging it correctly? How did you get the numbers on screenshot?

Yes, adding such a check is legit and makes sense.

IIRC it was added for reason. Maybe @alexandremgo can provide some details on this.

[2020-04-08 08:16] gavv commented on #328
I think the problem with `multiple_senders_one_receiver_sequential` is that we're not waiting until the receiver will fully process the samples from the first sender before starting the second one.

I guess we should change the flow to the following:

* run first sender
* wait until receiver starts producing all zeros for some period of time
* run second sender

[2020-04-08 08:18] gavv commented on #328
BTW, note that this test likely will work incorrectly under a debugger because of its real-time nature. (Though receiver should not produce numbers out of [-1; 1] range anyway).

[2020-04-08 08:21] gavv commented on #328
An interesting detail: both failures on travis were on sample `#3999`.

[2020-04-08 08:28] gavv commented on #305
Yes. Note that during each Depacketizer::read() we may call read_packet_samples_() and read_missing_samples_() multiple times, depending on whether we have gaps (missing packets) and how much.

Not quite.

We set FlagBlank if the frame was completely filled with read_missing_samples_(). We set FlagIncomplete is the frame was partially filled with read_missing_samples_() and partially with read_pac

[2020-04-08 08:30] gavv commented on #305
BTW, forgot to mention, did you see this notice in the issue?

#302 is in progress, @aj-thomas-8 works on it.

[2020-04-08 12:51] Pandiora commented on #334
Alright, thank you, I will alter and add the PKGBUILD when I've some free time.

[2020-04-09 02:32] fusuiyi123 commented on #305
yes I saw #302 , cool I will take a look at the unit test:)

[2020-04-10 06:03] aj-thomas-8 commented on #302
In the write function of the packetizer class, will only `frame.size() / num_channels` samples be encoded and written to a packet for each frame? Do the rest of the samples in the frame just get ignored? Sorry if I completely misunderstood how the packetizer works

[2020-04-10 07:25] gavv commented on #302
The trick is that `frame.size()` is the number of samples *total for all channels*, and `IFrameEncoder::write()` expects the number of samples *per channel*, plus a channel mask. (This is mentioned in the corresponding method comments, hopefully).

Say, we have a frame with 2 channels (stereo) and 100 samples for each channel, then we'll have:

[code]

We'll pass `n_samples = 100` and `channel_mas

[2020-04-10 21:08] aj-thomas-8 commented on #302
That makes things a lot clearer. Thanks! And I'll add a comment to the packetizer code as well

[2020-04-11 02:49] fusuiyi123 commented on #305
since this is a task after #302 may I look at this other issues first:)

[2020-04-11 02:54] fusuiyi123 commented on #303
Is this issue dependent on #302 or can be done independently?

[2020-04-11 04:07] fusuiyi123 commented on #271
if I understand correctly, we need to create a `libroc.pc` file in `PKG_CONFIG_PATH` and `prefix`, `libdir` `requires` are from scons options `--prefix=PREFIX`, `--libdir=LIBDIR`, not sure where do we get enabled dependencies, is it  https://github.com/roc-project/roc/blob/master/SConstruct#L732 ? Thanks!

[2020-04-11 04:11] fusuiyi123 commented on #271
and it's just writing a file to a path like `/usr/lib64/pkgconfig` not `AddDistFile` which is installing a target library..?

[2020-04-11 10:06] gavv commented on #200
Features missing in #300 (to be done in future PRs):

- [ ] `number of addresses` for `c=` in `<base multicast address>[/<ttl>]/<number of addresses>`

  (specifying number of addresses N should produce identical description to the one produced when specified N individual `c=` fields with subsequent IP addresses)

- [ ] add `MediaDescription` getter to retrieve payload IDs (formats) other than the

[2020-04-11 10:46] gavv commented on #303
Technically we can do them in parallel, but I would postpone this one until #302 is merged. Maybe it will raise some new issues to us.

[2020-04-11 10:59] gavv commented on #271
Yes.

Yes. We should add dependencies which are:

* listed in system_dependencies
* added to `env` using `ParsePkgConfig` (which also defined the pkg-config dependency name)
* are dependencies of libroc, not just tools or pulseaudio modules

I think we should add an AlwaysBuild action that generates libroc.pc file somewhere in the `build` directory and then add this file to the `install` target us

[2020-04-11 12:26] Chimrod opened #346 "How to link with debian pulseaudio ?"
Hello,

I'm trying to compile and use roc with a debian/raspbian system, and I got an error with the compiled library.

The library `module-roc-sink-input.so` can't find the dependancies from the pulseaudio :

[code]

It seems that the library is not compiled with the right flags, and can't find the libraries in the directory `/usr/lib/arm-linux-gnueabihf/pulseaudio`

I've also tried to compile ro

[2020-04-12 03:54] fusuiyi123 commented on #271
thank you, I sent a pr #347

[2020-04-13 03:27] aj-thomas-8 commented on #302
Just to clarify, in the solution description, when you said the nested read/write calls in pipeline::Sender and pipeline::Receiver should repeat till the expected number of packets are read/written, you meant pipeline::SenderSink and pipeline::ReceiverSource right?

[2020-04-13 08:35] gavv commented on #302
Yeah, they were renamed recently.

[2020-04-13 10:32] MatteoArella commented on #233
I'm actually working on this issue

[2020-04-14 07:16] aj-thomas-8 commented on #302
In the case of Fanout, wouldn't the expected number of samples written be
`frame.size()` * number of output writers? Because if `Fanout::write(Frame frame)` were to return the number of samples in the range [0: frame.size()] (like other write functions), that wouldn't account for potential partial writes by the nested output writers.

[2020-04-14 07:26] gavv commented on #302
Hm, no, the returned value reports how much of *input* samples were processed. And the caller wont expect that write(N) will return, say, N*2 samples, it will break things.

Let's keep it simple and add a loop to Fanout, so that in case of a partial write it will repeat and write the remaining samples until the full frame is written. Just like it's suggested to do in Mixer and some other component

[2020-04-14 07:28] aj-thomas-8 commented on #302
Awesome thanks! I'll do that

[2020-04-24 14:10] gavv commented on #233
The first version of java bindings is merged.

[2020-04-24 14:10] #233 closed

[2020-04-25 13:17] gavv opened #348 "UDP send optimization"
## Task

When a new outgoing packet is created on sender pipeline, it is passed to `netio::UdpSenderPort::write()`, which adds the packet to the outgoing queue and wakes up libuv thread by raising `write_sem_`. Then, `write_sem_cb_()` is called on libuv thread, fetches the packet from the queue, and asks libuv to send it by calling `uv_udp_send()`.

Such implementation allows to keep `write()` non

[2020-04-27 12:03] DColadas opened #349 "Problems building without --disable-openfec --disable-tools"
Hello,
I am interested in collaborating in this project. I am trying to get familiar with some of the commands displayed in the docs to check how the program works.
I had no problems installing using the commands:
[code]
as shown in the user cookbook. However, while trying to build the sources with any command of this type:
[code]
I get the error `error: openfec not found (see 'config.log' for det

[2020-04-27 19:30] DColadas commented on #349
Problem solved! I added the `--enable-pulseaudio-modules --build-3rdparty=all` options when building.
Therefore, I am running scons -Q --enable-werror --enable-debug --sanitizers=all --enable-pulseaudio-modules --build-3rdparty=all` in order to not get the error.
Hopefully I will be contributing to the project soon!

[2020-04-27 19:31] #349 closed

[2020-04-28 00:31] DColadas commented on #348
Hey! I have had an eye at the project and I am interested. May I work on this issue?

[2020-04-29 07:42] gavv commented on #346
Hi, sorry for late reply!

Roc PulseAudio modules need full PulseAudio sources for building.

If you use `--build-3rdparty=...,pulseaudio,...`, roc will download and build PulseAudio from sources and link with the built libraries. Then it will expect to found these libraries on target system (Raspbian in your case). You should ensure that Roc uses exactly the same version of PulseAudio as installe

[2020-04-29 07:53] gavv commented on #349
Hi, yes, you need either:

* disable OpenFEC support using `--disable-openfec`
* ask Roc to build OpenFEC for you: `--build-3rdparty=...,openfec,...` or `--build-3rdparty=all`
* download, build, and install OpenFEC manually and let Roc to find it on the system (no special options are needed)

The same is true for PulseAudio, you need either:

* completely disable command-line tools using `--disabl

[2020-04-29 07:54] gavv commented on #348
Great, you're welcome!

[2020-04-29 08:39] Chimrod commented on #346
Hello, thank you for looking in my problem.

When I compile the plugin with the full pulseaudio sources, it gives me libraries which are incompatible the system pulseaudio environement :

Debian install some of the libraries in the subdirectory `/usr/lib/x86_64-linux-gnu/pulseaudio`, and it does not match with the librairies generated by roc :

[code]

[code]

I've tried to modify the environment

[2020-04-29 09:39] gavv commented on #346
Are you trying to build Roc PulseAudio modules for Raspbian or for PC (x86_64-linux-gnu)?

[2020-04-29 09:42] gavv commented on #346
Did you try:

[code]

LD_LIBRARY_PATH is used at run-time, not compile-time.

When PulseAudio loads a module, the correct directory (/usr/lib/x86_64-linux-gnu/pulseaudio) should be already added to the search path (internally in the running PulseAudio process).

Did you try to actually install and load Roc modules? Like described here: https://roc-project.github.io/roc/docs/running/pulseaudio_modu

[2020-04-29 10:54] theblazehen opened #351 "Issues building with pulseaudio 13.99.1"
Hi,

I'm trying to build against Pulseaudio 13.99.1, however I'm having issues with that. Tried on master and on develop. It doesn't seem to have that same issue with pulseaudio 13.0

I'm running the build with `scons -Q --enable-pulseaudio-modules --build-3rdparty=openfec,pulseaudio:13.99.1 | tee build.log`

I have attached build.log

Thanks
[build.log](https://github.com/roc-project/roc/files/45

[2020-04-29 11:21] gavv opened #352 "Reduce probable contention in UdpSenderPort"
Currently netio::UdpSenderPort::write_sem_cb_() locks the mutex every time it get a packet from the queue.

This is likely okay, but we could perform a small optimization and employ a kind of "double buffering":

* instead of one packet list, use two lists, "writable" and "readable"
* write() writes to "writable" list under a lock
* write_sem_cb_() locks the mutex, swaps "writable" and "readable"

[2020-04-29 11:30] gavv commented on #351
Hi!

The build.log is incomplete, maybe you forgot to include stderr.

But actually I was already working on a fix for building with PulseAudio 13.99, as discussed in https://github.com/roc-project/roc/pull/291#issuecomment-620076469. I've just pushed it to `develop` branch. Could you please check it? If it works, I'll push it to `master`.

(Note that `develop` branch is unstable yet, though it sh

[2020-04-29 11:36] gavv opened #353 "Add Ubuntu 20.04 to CI"
We already have 14.04, 16.04, and 18.04, and now want to add 20.04 as well.

Issue #307 gives an idea how to add a new distro to CI.

The build instructions should be the same as for 18.04, so there is no need to update documentation.

[2020-04-29 11:57] gavv commented on #317
Unassigning this so that someone else could pick it up. @Caynosadler feel free to ping me if you decide to come back.

[2020-04-29 11:59] theblazehen commented on #351
Ah, my bad, yes I didn't include stderr. Development branch works :) Thanks!

Quick question: I've got output working from one endpoint to the other, but it there any way to get one to act as a microphone and the other to see it as an audio input?

Use case: use my phone as the microphone input audio output for my laptop. Right now I can get the microphone input across as an audio stream with `pac

[2020-04-29 12:02] gavv commented on #236
Unassigning this so that someone else could pick it up. @ffisherr feel free to ping me if you decide to come back.

If somebody will pick this up, please take a look at these discussion at the mailing list:

https://www.freelists.org/post/roc/libRaptorQ
https://www.freelists.org/post/roc/roc-Re-libRaptorQ

[2020-04-29 12:03] gavv commented on #296
Unassigning this so that someone else could pick it up. @dinimar feel free to ping me if you decide to come back.

[2020-04-29 13:06] Chimrod commented on #346
Thanks for your help.

Indeed, after copying the file in the right place, everything came back in order. I've made some tests and the connexion works fine.

Thank you.

[2020-04-29 13:06] #346 closed

[2020-04-29 17:40] gavv commented on #351
Great, I've pushed the fix to master.

If you want to grab the sound from microphone and send to remote receiver, you can:

* Use roc-send command-line tool. You can specify the input device using `-i` option. It can be PulseAudio source or ALSA capture device, for example.

* Use module-roc-sink PulseAudio module and then connect PulseAudio source of your microphone to the Roc sink using module-l

[2020-04-29 17:42] gavv commented on #346
Good to hear! And thanks for your interest in the project.

[2020-04-29 18:48] Chimrod commented on #346
You'r welcome :), thanks for your projet. My little pi0 is now a complete audio streaming server !

I do not know if I should open an issue, but I run into a segfault when I load the receiver module directly in the system.pa, after loading the module zero-conf publish.

When I load the roc module once pulseaudio is completely initialized, by using pactl, everything works fine. I've found a solutio

[2020-04-29 18:54] gavv commented on #346
Yes, would be great if you open an issue and attach config, log and a backtrace, if any.

[2020-04-29 19:24] Chimrod opened #354 "Segfault when runnig pulseaudio system"
I'm running pulseaudio on raspbian in pi0.

When I launch `pulseaudio --system -vvv` I've got a segfault.

I do not know if the problem comes from roc itself, but it does not occur when roc is not started with pulseaudio.

(If I load the module once pulseaudio is running, everything works fine).

- [Output from pulseaudio](https://github.com/roc-project/roc/files/4554044/start.log)
- [backtrace](h

[2020-04-30 09:52] theblazehen commented on #351
Thanks for your feedback!

[2020-04-30 09:52] #351 closed

[2020-05-01 13:58] Villaquiranm commented on #353
Hello, I would like to work in this if it's still free

[2020-05-01 14:15] gavv commented on #353
Thanks, you're welcome.

[2020-05-02 04:52] fusuiyi123 commented on #217
I can take at look at this, but I will certainly give it back to @biljith if he returns and the issue is still open.

[2020-05-02 07:07] gavv commented on #217
Great!

[2020-05-02 13:49] codeboy5 commented on #352
I would like to work on this

[2020-05-03 09:08] gavv commented on #352
Thanks, but I forgot to mention that it should be done after #348, which is still in progress (#350).

[2020-05-09 19:02] ddimension opened #355 "document openwrt port / repository"
Hi!

I've setup a openwrt package repository for roc and the needed dependencies.
After a bit more cleanup I'll try to get it pulled.

Please document it in your wiki:
https://github.com/ddimension/openwrt-packages-with-roc
Users may include this and enable building roc. It wrks fine with small mips boxes little  optimizations.

Thanks for this great software.
BTW, is there a mailinglist for discu

[2020-05-10 13:11] gavv commented on #352
#348 is done, but I'm going to close this issue since I've found a better approach. I'm working on a lock-free queue for #215 and later I'll employ it for UdpSenderPort as well.

@codeboy5 sorry for inconvenience.

[2020-05-10 13:11] #352 closed

[2020-05-10 13:12] gavv commented on #348
Merged!

[2020-05-10 13:12] #348 closed

[2020-05-10 14:27] gavv commented on #355
Hi, that's cool, thanks!

I'm not familiar with OpenWrt, what kind of instructions would be expected? I mean, would be a link to your repo enough, or users need some additional hints how to use it?

I think we should add it to [the cookbook](https://roc-project.github.io/roc/docs/building/user_cookbook.html). Feel free to send a PR if you have time (the source code of the docs is [here](https://gi

[2020-05-11 03:05] fusuiyi123 commented on #217
does `pipeline::Receiver` change to `pipeline::ReceiverSource`?

[2020-05-11 03:25] fusuiyi123 commented on #217
[code]
does it refer to https://github.com/roc-project/roc/blob/develop/src/modules/roc_pipeline/receiver_source.cpp#L162-L164 ?

[2020-05-11 07:32] gavv commented on #217
Yes.

route_packet_() was moved to ReceiverSessionGroup:

https://github.com/roc-project/roc/blob/develop/src/modules/roc_pipeline/receiver_session_group.cpp#L35

If no session can handle the packet, and a new session can't be created, it drops the packet.

Here is where the drop is logged:

https://github.com/roc-project/roc/blob/develop/src/modules/roc_pipeline/receiver_session_group.cpp#L67

ro

[2020-05-11 19:30] ddimension commented on #355
Hi Victor!
Am 10.05.20 um 16:27 schrieb Victor Gaydov:

OpenWRT is a platform for routers and accesspoints. Usually with small mips cpus or for newest stuff with arm.
I'm think off some lines of instructions for the build and setup.

I'll check the develop branch at the weekend and after cleaning up, I'll prepare that.

You can configure to use up to gcc9 for the openwrt build. Openwrt uses musl a

[2020-05-12 04:37] fusuiyi123 opened #356 "Scons install fails if not built in advance"
https://github.com/roc-project/roc/pull/347#issuecomment-626375073
If executes `scons install` without built first, it fails with
`scons: *** [install] bin/x86_64-pc-linux-gnu/libroc.so.0.1: No such file or directory`
Need to have `scons install` automatically build and install I guess?

[2020-05-12 08:16] gavv commented on #355
Thanks!

Yeah, I mean the actual example of the target name, which you were using for mips boxes. I'd like to add a similar target to our CI.

I see.

[2020-05-15 06:35] gavv commented on #271
Merged.

[2020-05-15 06:35] #271 closed

[2020-05-18 11:21] gavv commented on #200
[code]

So we need to implement the following behavior:

* If MediaDescription does not have connection data, it should use SessionDescription's connection data.

* If MediaDescription does not have connection data, and SessionDescription also doesn't have one, the parsing should fail.

[2020-05-18 11:25] gavv commented on #200
[code]

1. We should check that if `/<number of addresses>` is present, or multiple `c=` fields are present, the address is multicast (SocketAddr has a method to check this). If it's not, the parsing should fail.

2. Since we don't support hierarchical / layered encoding currently, let's parse all `c=` fields, but use only the first one for now.

[2020-05-19 04:46] fusuiyi123 commented on #217
HI @gavv I created a draft pr #357 want to make sure if I am on the right path.
Are your previous comments on the unit test still applicable? Thanks!

[2020-05-23 12:04] gavv commented on #215
Landed.

[2020-05-23 12:04] #215 closed

[2020-05-23 14:03] gavv commented on #217
In general, yes. I'll leave some minor comments.

I think yes.

[2020-05-23 14:42] gavv commented on #356
We have #316 help-wanted issue, which, hopefully, will fix this as well.

[2020-05-23 14:50] gavv commented on #314
@CristobalM BTW, even if you didn't fix the tests, creating a draft PR with your implementation is appreciated, maybe me or someone else will finish it.

[2020-05-23 15:17] gavv opened #359 "Add mips and mipsel toolchains to CI"
People are using are using Roc on OpenWrt/MIPS, but OpenWrt and MIPS are not covered with our CI. We should fill this gap.

Here is the documentation for our CI: https://roc-streaming.org/toolkit/docs/development/continuous_integration.html

Here are some similar tasks: #307, #353.

Steps:

1. Add docker images with toolchains. We can start with mips and mipsel. It'd be also nice to have mips64el.

[2020-05-23 15:18] gavv commented on #355
I've opened an issue for CI: #359.

[2020-05-23 15:18] gavv commented on #355
BTW, let's keep this issue open, so that I don't forget about it :)

[2020-05-23 15:39] gavv opened #360 "FreeBSD port"
Add support for FreeBSD and probably other BSDs.

Some preliminary work is already done: #284 (see discussion).

Remaining issues:

1. Add `freebsd` or `bsd` to `supported_platforms` in SConstruct. (If you can check build on some BSD except FreeBSD, e.g. OpenBSD or NetBSD, adding a generic `bsd` is preferred; otherwise, we can start with `freebsd`).

2. Fill `ROC_TARGETS` list for (Free)BSD. See d

[2020-05-23 16:25] gavv opened #361 "Get rid of unnecessary guards in Mutex, Cond, and Semaphore"
### Into

There is known issue in various implementation of POSIX mutexes, condition variables, and semaphores, which is well described here: https://sourceware.org/bugzilla/show_bug.cgi?id=12674

*TLDR:* when you call semaphore.post(), another thread may wake up before post() returns, and if it tries to destroy the semaphore, you can get a crash or error.

This issue is present on old glibc and m

[2020-05-23 17:16] gavv opened #362 "Add core::Timer implementation based on timerfd"
### Intro

core::Timer is a simple class that allows to wait for deadline expiration in one thread and to update the deadline from other thread(s), concurrently.

https://github.com/roc-project/roc/blob/develop/src/modules/roc_core/timer.h
https://github.com/roc-project/roc/blob/develop/src/modules/roc_core/timer.cpp

Currently we have a generic implementation based on a seqlock and a semaphore wi

[2020-05-24 06:54] gavv opened #363 "Add command-line option to enable tracing in tests"
Our tests has `-v` option, which enables debug logging (LogDebug level). Example:

[code]

It would be very useful to have another option to enable even more verbose trace logging (LogTrace). Ideally, by specifying `-vv` (like in our tools), but a separate option is okay too.

The tricky part here is that the command-line is parsed by CppUTest and we should find a way to register our own options o

[2020-05-24 07:36] gavv commented on #318
Related OpenSSL examples:

* https://github.com/nplab/DTLS-Examples/tree/master/src
* https://github.com/stepheny/openssl-dtls-custom-bio

[2020-05-24 07:56] gavv opened #364 "Add CSPRNG based on OpenSSL"
## Problem

Earlier we implemented CSPRNG using libuv (#102).

Now we're slowly removing libuv dependency. On the other hand, we will likely employ OpenSSL for DTLS support (#318), and OpenSSL provides CSPRNG as well, which we could use.

## Acceptance criteria

The following solution is suggested:

- [x] Added tests for `fast_random`
- [ ] Added tests for `secure_random`.
- [x] Added OpenSSL depe

[2020-05-24 08:00] gavv commented on #102
@fusuiyi123 FYI: #364

[2020-05-24 09:22] gavv opened #365 "Make core::Pool lock-free"
All our threads communicate via lock-free task and packet queues (see pipeline::TaskPipeline, netio::NetworkLoop, ctl::ControlLoop).

However, these threads also use shared memory pools (core::Pool), which is basically a simple slab allocator with a mutex.

The good properties of core::Pool are: amortized O(1) allocation, O(1) deallocation, and that most recently deallocated memory is re-used firs

[2020-05-24 09:22] gavv commented on #365
Please discuss the solution before starting working on the implementation.

[2020-05-24 12:00] gavv opened #366 "Create micro-benchmarks for core::List"
core::List is widely used in Roc, so it'd be useful to have in our hands real numbers for its major operations. We should measure at least insertion (at the end and in the middle), removal, and iteration  overhead.

It would be also interesting to add two benchmarks for iterative push_pack using core::List and using core::Array with grow_exp(), and compare results.

To add a new benchmark, just cr

[2020-05-24 12:07] gavv opened #367 "Create micro-benchmarks for core::Semaphore"
It would be useful to measure Semaphore construction, destruction, post() when there are no waiters, post() when there are waiters, and non-blocking wait() (i.e. after post).

The numbers on Linux/Glibc are quite predictable (something compared to unlocked mutex without waiters, i.e. a few nanoseconds, and a minimum syscall overhead when there are waiters, i.e. a few hundred nanoseconds).

However

[2020-05-24 12:30] gavv opened #368 "Create micro-benchmarks for audio codecs"
We have two interfaces for audio codecs: audio::IFrameEncoder and audio::IFrameDecoder. Currently, they are implemented only by audio::PcmEncoder and audio::PcmDecoder. Later we'll add more implementations.

In this issue, we want to create generic benchmark framework for IFrameEncoder and IFrameDecoder, and for now use it to measure performance of PcmEncoder and PcmDecoder.

It also makes sense t

[2020-05-24 12:45] gavv opened #369 "Create micro-benchmarks for resampler"
This issue is similar to #368.

We have audio::ResamplerReader and audio::ResamplerWriter. They can work with different IResampler implementations. Currently, the only implementation is audio::BuiltinResampler. Later we'll also add SpeexResampler (#314).

We should create generic benchmark framework for ResamplerReader and ResamplerWriter, and use it to measure performance of BuiltinResampler.

We

[2020-05-24 13:01] gavv opened #370 "Create micro-benchmarks for FEC codecs"
This issue is similar to #368.

We have fec::Reader and fec::Writer. They can work with different implementations of fec::IBlockDecoder and fec::IBlockEncoder. Currently we have encoder and decoder for Reed-Solomon and LDPC-Staircase FEC schemes.

We should create generic benchmark framework for fec::Reader and fec::Writer, and use it to measure performance of the two supported FEC schemes.

We sh

[2020-05-24 13:16] gavv opened #371 "Run benchmarks on Raspberry Pi"
Recently we'he added some micro-benchmarks, implemented using Google Benchmark framework. So far we've run them only on PC.

To run them on Raspberry Pi (or other small ARM-based computer), we should solve two problems:

* fix build issues for ARM;
* reduce memory footprint of benchmarks.

The second problem is relevant to some of the benchmarks which pre-allocate a big array (something around 300

[2020-05-24 13:29] gavv opened #372 "Run benchmarks on CI"
Our travis scripts include building benchmarks, but don't include running them.

Running benchmarks on travis is not directly useful (travis workers are very slow), but it would be useful enough to check that benchmarks at least don't crash or hang.

We should run them at least on Linux x86_64 and on macOS. We should also try to run them in qemu for ARM, it this wont be too slow (maybe after resol

[2020-05-24 13:46] gavv opened #373 "Automatic test coverage reports"
It would be nice to have test coverage reports.

Steps:

* [ ] Add a new scons option `--enable-coverage` (to SConstruct) to enable test coverage on GCC and Clang.
* [ ] Add a new scons target `coverage` (or `cov` or something) that generates local HTML report using `lcov` tool.
* [ ] In travis builds, collect coverage reports and publish them to https://coveralls.io using `cpp-coveralls` (or we c

[2020-05-24 14:46] gavv opened #374 "Allow to configure outgoing port range of sender"
### Problem

We already allow to configure outgoing sender address using `roc_sender_set_outgoing_address()` function. Now we should also allow to configure outgoing port. Currently we always use zero port, which means "select random free ephemeral port".

The user may want to specify specific port or a port range, which would mean "select random free port from the range".

The typical usage of th

[2020-05-24 15:00] gavv opened #375 "Problem with UndefinedBehaviorSanitizer"
How to reproduce:

[code]

Output:

[code]

We have two problems here:

* First, this runtime error does not cause a crash or failure in tests, which is bad because we don't notice it in CI.

* Second, this runtime error is actually a false positive. Yes, we really store an incorrect value in enum, but we do it intentionally: this unit test checks that such a value would be handled correctly and a

[2020-05-24 18:21] gavv opened #376 "Minimal iOS build"
In this issue we want to create a minimal iOS port and make it at least successfully building using scons.

Please see #292 to see how to run the minimal build and for details on the porting process. Just like with Windows, we'll have to implement a few iOS-specific components or at least add dummy implementations.

Note that we want to build Roc for iOS without Xcode. We want to use our regular s

[2020-05-24 18:31] gavv opened #377 "Create basic test for command-line tools"
We have created a new repo [roc-tests](https://github.com/roc-project/roc-tests) for various real-time integration tests for public API. See #296 for details.

Among other things, it would be great to add integration tests for our command-line tools. Currently they are not covered with tests, and sometimes a breakage remains unnoticeable for a while.

This issue is for creating the very first test

[2020-05-24 18:52] gavv opened #378 "Introduce SampleSpec class"
We have numerous components in roc_audio and roc_sndio modules, which get two parameters in their constructor: sample_rate and either num_channels or channel_mask (often ch_mask).

They are good candidates to be united in a class with two fields and helper methods. It will simplify and unify the code and later will allow us to easily replace channel mask with more sophisticated channel set informa

[2020-05-24 19:17] gavv opened #379 "Use priority queue in ctl::TaskQueue"
## Problem

ctl::TaskQueue is a thread-safe task queue, allowing to schedule task for immediate or delayed execution.

Tasks for immediate execution are stored in a lock-free FIFO. Tasks for delayed execution are stored in a sorted linked list. Thus, while we have O(1) pop, the insert operation into a sorted list is O(N), which does not scale to big numbers of tasks.

The typical data structure us

[2020-05-24 19:35] gavv opened #380 "Prevent task starvation in ctl::TaskQueue"
ctl::TaskQueue is a thread-safe task queue, allowing to schedule task for immediate or delayed execution.

When it selects a task for execution, it always first checks the queue for immediate execution, and if it's empty, it then checks the queue for delayed execution.

While this is okay in most cases, there is a potential problem here. If the tasks for immediate execution will be added frequentl

[2020-05-25 07:14] gavv opened #381 "Add PulseAudio support to signal-estimator"
[signal-estimator](https://github.com/gavv/signal-estimator) is a command-line tool for measuring latency and glitches over audio devices. It's not part of Roc, but it was developed with our needs in mind.

Currently it supports only ALSA devices. We can use it to measure latency between roc-send and roc-recv command-line tools when they're used with ALSA.

Now we need to add PulseAudio support to

[2020-05-25 07:41] gavv opened #382 "Add JSON output support to signal-estimator"
[signal-estimator](https://github.com/gavv/signal-estimator) is a command-line tool for measuring latency and glitches over audio devices. It's not part of Roc, but it was developed with our needs in mind.

Currently it just logs the measurement results to stderr. This is okay when used by human, but we have plans to use this tool for automated regression testing. To make it possible, we need its

[2020-05-25 09:35] gavv opened #383 "Implement version-checking macros and functions"
Add the following macros to the public API allowing to retrieve the compile-time version of the toolkit:

[code]

Also add a function allowing to retrieve runtime version (which may be different, i.e. has higher minor or patch version):

[code]

These definitions should be added to `src/library/include/roc/version.h` and properly commented.

Additional changes:

* update the API reference at `docs

[2020-05-25 10:05] gavv opened #384 "Add benchmarks for task queues"
## Intro

We have two different task queue implementations:

* ctl::TaskQueue
* pipeline::TaskPipeline

The first one is intended for low-priority tasks scheduled on dedicated control thread (ctl::ControlLoop), and the second one is intended for pipeline manipulation tasks to be executed on soft-real-time pipeline processing thread.

Both implement lock-free task scheduling. TaskQueue unique featu

[2020-05-25 12:00] gavv opened #385 "Add benchmarks for NetworkLoop"
netio::NetworkLoop allows to enqueue UDP packets for sending and to register handler for received packets. Internally it is implemented using libuv.

We need to add benchmarks for netio::NetworkLoop that will answer the following questions:

* what is the typical transmission time when transmitting packets over localhost from one sender to one receiver (each one using its own NetworkLoop)?

* what

[2020-05-25 13:24] CristobalM commented on #314
Sorry, I've been busy. Feel free anyone to continue from this, I created the draft PR.

[2020-05-25 13:25] gavv commented on #314
No worries, thanks!

[2020-05-26 07:08] gavv commented on #162
Landed!

[2020-05-26 07:08] #162 closed

[2020-05-26 08:29] gavv opened #387 "Add running minimum support to audio::Profiler"
## Intro

We have two pipeline elements ProfilingWriter and ProfilingReader (#162), which calculate and report average frame processing time in the pipeline. Under they hood they both delegate work to the audio::Profiler class.

Average processing time is a useful metric, but it doesn't provide a complete picture when we're trying to investigate the source of glitches or lags. In addition to the a

[2020-05-26 14:22] gavv commented on #353
After fixing the build on `rocproject/travis-ubuntu:20.04`, we should also switch `rocproject/travis-checks` base from ubuntu 19.04 to 20.04, since 19.04 image doesn't work anymore.

[2020-05-26 14:33] gavv opened #388 "Employ build hooks in toolchain docker images"
We've recently merged a mechanism, based on [docker build hooks](https://docs.docker.com/docker-hub/builds/advanced/#build-hook-examples),  for building multiple variants of a single dockerfile and pushing them to multiple docker tags.

For details, see here:

* [documentation](https://github.com/roc-streaming/roc-toolkit/blob/develop/docs/sphinx/development/continuous_integration.rst#docker-hub-b

[2020-05-26 14:46] gavv opened #389 "Use core::Optional in roc_pipeline"
In roc_pipeline module we have numerous pipelines which construct a chain of smaller building blocks from lower-level modules, for example SenderSink and ReceiverSession.

The chain construction is be performed incrementally and sometimes conditionally. We create the first element, check for errors, then create the second element if it's enabled, and so on.

To achieve this, the pipeline fields ar

[2020-05-27 10:46] #43 closed

[2020-05-27 10:46] #153 closed

[2020-05-28 17:43] gavv commented on #314
Great, this PR was a good start for me!

I've cherry-picked most of the changes, fixed both resampler and resampler tests, and pushed everything to develop.

What's new (see recent commits in develop):

* Instead of add quality parameter, derive speex quality from resampler profile parameter, which we already have. Also, ResamplerConfig is hidden since it was specific to builtin resampler.

* Down

[2020-05-28 17:57] gavv commented on #314
A word about the new speex resampler:

* I've tested roc with speex on laptop and on a few arm-based boxes, it works well.

* Speex resampler is about 5 times faster than roc builtin resampler on my laptop and about 1.5 times faster on raspberry pi zero (both on medium profile, which corresponds to speex quality 5).

* Speex resampler has limited scaling precision. When upscaling and the downscali

[2020-05-28 17:59] #314 closed

[2020-06-01 08:22] gavv commented on #353
We also need to add gcc-10 and clang-10 to ubuntu 20.4 dockerfile and travis script. We'll also have to fix warnings on clang 10. Both of this can be done separately.

[2020-06-01 08:41] gavv opened #390 "Add more Android versions to CI"
Currently our travis build uses Android NDK 21 with API level 28, which corresponds to Android 9.

It would be nice to cover other Android versions as well:

* Android 7
* Android 8 (maybe; if the travis job wont take too much time)
* Android 10

We should determine what NDK versions and API levels corresponds to these Android versions.

Then we should add missing NDK versions to cross-linux-andro

[2020-06-01 08:49] gavv opened #391 "Add CentOS 8 to CI"
Currently our env-centos dockerfile is based on CentOS 7: https://github.com/roc-streaming/dockerfiles/blob/master/images/env-centos/Dockerfile

It would be nice to add a tag for CentOS 8, and if necessary fix the build on it.

Tags should be added as sub-directories like here: https://github.com/roc-streaming/dockerfiles/tree/master/images/env-ubuntu

Then we should update .github/workflows/build

[2020-06-02 06:54] gavv commented on #353
I've added gcc-10 and clang-10 to the dockerfile.

[2020-06-02 10:04] gavv opened #392 "Add stress tests for task queues"
For background, see #384.

We have unit tests for ctl::TaskQueue and pipeline::TaskPipeline, but unit tests can't detect all possible races. Since the implementation of the lock-free operations is tricky enough (especially in ctl::TaskQueue), it's important to write good stress tests that are able to detect races, and periodically run them on supported architectures (at least x86_64, arm32, and ar

[2020-06-05 03:59] NikeHill1701 commented on #317
Hey, @gavv would like to pick this up!

[2020-06-05 06:36] gavv commented on #317
@NikeHill1701 Great!

[2020-06-05 08:10] samsomlan opened #393 "roc-recv is hard to use"
ubuntu 18.04,x86 64bit ,roc develop branch last version

1: sudo roc-recv -vvv -s rtp+rs8m::10001 -r rs8m::10002 --backup file:./test.wav
2: sudo roc-recv -vvv -s rtp+rs8m://127.0.0.1:10001 -r rs8m://127.0.0.1:10002 --backup file:./test.wav
all got the same error log
16:03:50.767 [6636] [dbg] roc_peer: pool: initializing: object_size=648 poison=0
16:03:50.767 [6636] [dbg] roc_peer: pool: initializ

[2020-06-05 08:19] gavv commented on #393
Looks like a regression caused by #274. Current develop branch was not properly tested yet. I'll look at it tomorrow, thanks for reporting!

Note: `rtp+rs8m:://` - a typo, should be `rtp+rs8m://`.

Also, port `1` in `rs8m:://127.0.0.1:1` is probably a typo too.

[2020-06-05 08:45] gavv commented on #329
@unguest Hi, do you still have plans on it?

[2020-06-05 08:48] gavv commented on #231
Unassigning this again so that someone could pick it up. @davex25 feel free to ping me if you'll decide to continue working on this.

[2020-06-07 11:02] gavv commented on #393
Should be fixed in fresh `develop`.

[2020-06-10 07:36] EkanshBhatnagar commented on #391
I could do that.

[2020-06-10 07:41] gavv commented on #391
Great, you're welcome!

[2020-06-13 09:18] moon9 commented on #362
Hello,

I want to help solve this issue.

[2020-06-13 09:31] gavv commented on #362
Great, you're welcome.

[2020-06-13 14:20] moon9 commented on #362
Make pull request with changes [#394 ](url)

Followed the requirements as far as possible. But

Seems impossible.

[2020-06-16 06:06] Bwoltz commented on #390
- Android Level 10 - API level 29
- Android Level 8.1.0 - API level 27
- Android Level 8.0.0 - API level 26
- Android Level 7.1/7.1.1 - API level 25
- Android Level 7.0 - API level 24
[<https://source.android.com/setup/start/build-numbers>](https://source.android.com/setup/start/build-numbers)
[https://developer.android.com/guide/topics/manifest/uses-sdk-element#ApiLevels>](https://developer.andro

[2020-06-20 09:17] gavv commented on #390
Hi!

Yes, using a single NDK is perfectly OK if it supports all necessary API levels.

It seems that NDK 21 supports all necessary API levels so we can use it for all of them:

[code]

[2020-06-20 09:23] gavv commented on #362
Could you elaborate? Have you looked how this is achieved with the current Timer implementation? (see the case when next_wakeup_ is zero).

[2020-06-20 10:37] moon9 commented on #362
In next case:
Before call wait_deadline(), have try_set_deadline(lower_value_of_time) with ignoring syscall. After that  call wait_deadline(), but timestamp < deadline and it wait until other call. It mean we drop 1 deadline, which can be important and block to long time, if next deadline will set not soon.

Test not pass with that logic.

[2020-06-20 10:39] moon9 commented on #362
Complexity logic can help with block on read call, but it may overhead perfomance more than syscall.

[2020-06-23 15:47] maqor commented on #389
Im new to this project and contributing to open source and this seems to be a good first issue.
I would start working on it, if that is okay?

[2020-06-24 08:27] CRImier opened #395 "Ways to donate?"
Hi! roc is the first solution that works perfectly for me, streaming to a Pi Zero. Is there any way to support the project monetarily - or, perhaps, with hardware?

Cheers!
Arsenijs

[2020-06-24 11:15] gavv commented on #362
Sorry, I didn't get it. Could you rephrase it and / or provide more specific example?

Here is how current Timer works, essentially.

try_set_deadline:

* set deadline_ seqlock to new value
* read next_wakeup_ seqlock
* if next_wakeup_ is zero, just return
* otherwise, post semaphore

wait_deadline:

* set next_wakeup_ seqlock to non-zero
* read and check deadline_ seqlock
* sleep on semaphore if

[2020-06-25 10:08] gavv commented on #395
Hi! Thanks for you interest and good to know the project was helpful to you.

Currently there is no way to make donations. You are the first who's asking, but I also was thinking about it for a while, so this is probably a good reason to start a discussion.

[2020-06-25 10:17] gavv commented on #395
I see four questions to be answered:

1. Ways to spend donations
2. What kinds of donation to expect
3. What platform to use
4. How to distribute donations between members

## Ways to spend donations

I see the following options, in order of preference (in my opinion):

1. **Compensate for minor expenses**

   Right now there are *no* expenses. However in nearest future I'm planning to buy a domai

[2020-06-25 10:21] gavv commented on #395
Now, here is my **personal** opinion on the above topics.

1. **Ways to spend donations**

    At this point, when the project is in early stage of development, I'd prefer to spend money to pay maintainers full time or part time.

    If someone in team except me can benefit from such donations and spend more time on Roc, I'd prefer to pay money to them rather than me because I'm already able to s

[2020-06-25 10:22] gavv commented on #395
What do others think on the four topics above?

In particular, does anybody have a desire to be paid full- or part- time to work on this project?

@baranovmv @dshil @Asalle @MatteoArella @ortex

@alexandremgo Is helping us with the release, so also casting him!

@CRImier from the user perspective, what way of donations would you prefer and how would you expect the money to be spent?

[2020-06-25 10:36] Asalle commented on #395
Hey all,
Amazing idea and I'm happy to see roc grow!
I personally would not like to be paid. My contribution not that big and I
would prefer the funds to be used to attract more people.
Also, I am not a freelancer and I don't know how to report this kind of
income to tax office 🤔

Regarding the ways to gather donations, I think we should provide more ways
to give - including github sponsorships, e

[2020-06-26 20:25] ortex commented on #395
Hi, all!
My contributions are quite small and I think I'll continue to do some stuff from time to time, but I don't want to be paid.

P.s: I'm glad to see that someone want to support the project 👍

[2020-06-27 10:01] moon9 commented on #362
Ok, I understand now how it must work. Make first reference and it works. So make new delta on review.

[2020-06-28 08:50] gavv opened #396 "Run tests in Android simulator in CI"
Currently we have Android build in Travis, but it doesn't run unit tests. It is defined [here](https://github.com/roc-streaming/roc-toolkit/blob/61a31b5887829630d0d82259587ad3a1bc14cd48/.travis.yml#L93-L107).

It would be nice to run tests on Travis using Android simulator.

We already have `env-android` docker image that provides Android SDK and emulator, and a helper script to manage simulator d

[2020-06-28 12:16] pvimal816 commented on #363
Anyone working on this issue?

[2020-06-28 13:03] gavv commented on #363
@pvimal816 AFAIK it's free.

Well, sound good, if:

* CppUTest can handle this
* the parsing code will be portable (e.g. getopt function is not)
* we will correctly handle common cases like mixing with other options, e.g. `-vv` or `-vX` where X is another CppUTest option

[2020-06-28 13:58] pvimal816 commented on #363
I have checked that following command which gets accepted by CppUTest:
`bin/x86_64-pc-linux-gnu/roc-test-core -v -v`

But CppUTest generates error on following command:
`bin/x86_64-pc-linux-gnu/roc-test-core -vv`

So we can use first command to implement our feature.
But here can I assume that accessing `argv` variable in `test_main.cpp` does not make code non-portable?

[2020-06-28 20:47] gavv commented on #363
Well if `-vv` does not work, which is the usual way to specify an option multiple times, then I suggest to use some other letter, e.g. `-t` (t for trace).

Yeah, argc/argv should be available everywhere. (Unlike getopt function which is POSIX).

[2020-07-01 11:11] gavv commented on #390
Update: we want to switch our Android build from `cross-linux-android` to `env-android` docker image. In addition to NDK, `env-android` also provides SDK and android emulator. It will allow us to run unit tests under emulator on Travis, as described in #396.

So, if this issue will be started before #396, we should do the switch from `cross-linux-android` to `env-android` withing this issue.

[2020-07-01 11:30] gavv commented on #353
I've created a new docker hub org and renamed the images a bit, see details here: https://www.freelists.org/post/roc/Docker-images-for-Android-build,3

We'll migrate travis build to the new images in upcoming days.

`travis-checks` image is not present in the new org; instead, I've added valgrind, clang-format, and other necessary tool to env-ubuntu:20.04.

[2020-07-01 11:32] gavv commented on #391
I've created a new docker hub org and renamed the images a bit, see details here: https://www.freelists.org/post/roc/Docker-images-for-Android-build,3

We'll migrate travis build to the new images in upcoming days.

So `travis-centos` should be now replaced with `env-centos` which can be found here:

* https://github.com/roc-streaming/dockerfiles/tree/master/images/env-centos
* https://hub.docker.

[2020-07-02 09:53] pvimal816 commented on #363
Hi gavv,

 Sorry to interrupt you. But can you please check this Travis CI error and guide me a little.  --- https://travis-ci.org/github/roc-streaming/roc-toolkit/jobs/703784921

[2020-07-02 10:13] gavv commented on #363
@pvimal816 Yep, I saw your messages on IRC, but I can't reply you when you're offline. You just wont receive the reply, IRC doesn't support offline messages.

The problem is specific to brew on old macos versions, I'm already looking into it. It's not specific to your PR.

PS. To be able to see messages sent to the channel when you were offline, you can join the channel using matrix as mentioned h

[2020-07-03 08:10] gavv commented on #363
The issue is fixed, please rebase on fresh develop.

[2020-07-04 06:21] Ewaolx commented on #379
Hi, it seems like all the variants of priority queue has O(log n) delete operation(pop) and some of the variants has O(1) insert operation. So, does this requires O(1) delete operation?

[2020-07-04 08:53] gavv commented on #379
@Ewaolx Indeed, thanks for noticing. According to [this thread](https://cs.stackexchange.com/questions/524/does-there-exist-a-priority-queue-with-o1-extracts), when choosing between various heaps and trees, we'll have to pay O(log N) either for insert() or for pop(), which makes sense.

In our case, ctl::TaskQueue is used to schedule background low-priority work from real-time threads. Hence, if w

[2020-07-04 09:56] gavv commented on #390
Update 2: we'have switched from `rocproject/cross-linux-android` to `rocstreaming/env-android` image in Travis builds.

This new image does not hardcode specific NDK versions; instead, NDK version and other parameters are passed to it at runtime via environment variables.

Since apparently NDK 21 provides all necessary API levels, all we need to to now is:

* add necessary API levels to https://gi

[2020-07-04 18:29] Ewaolx commented on #379
Sounds good. In this case, we may have something like Fibonnaci heap which provides us insert in O(1), and O(log N) for pop operation. Also, I see currently sorted linked list is being used for core:List in ctl::TaskQueue, so that would be replaced by heap and consequently we will have heap insert and delete instead of linked list's, right?

[2020-07-05 07:54] dshil commented on #395
Hi @gavv,

Before I will dig into discussions of 4 topics you specified above I want to clarify a few things. For now you are only a single core maintainer of the project. I know that there are other people who help with other parts of the project but without you I am not sure that Roc will continue to grow unless some company will hire you to continue working on Roc inside the company. Thus,  I a

[2020-07-05 09:30] gavv commented on #395
@Asalle @ortex

Thanks for responses!

@dshil

Thanks for response too and thanks for your words!

I see you're talking about the C++ part, and in this case - yes, I'm the only active maintainer these days. But fortunately the project becomes bigger than just the C++ core, we now also have Java and Go bindings and an Android app, which are developed by other people.

I believe, for an OSS project,

[2020-07-05 11:00] gavv commented on #379
Looks like a good option! Are you going to work on this?

Except theoretical big-O complexity, we should also ensure that the actual task insertion performance wont hurt in the good case, where there are not much pending tasks. So we'll need a small benchmark for TaskQueue schedule.

Quick look at the Fibonacci heap algorithm suggest that it should be okay.

Yes. IIRC, we'll need to replace three

[2020-07-05 16:07] Ewaolx commented on #379
Okay, got it. Thanks for the update.

Yes, I can start working on this. I see roc_ctl is under develop branch, and not on master. So are the guidelines same for [building](https://roc-streaming.org/toolkit/docs/building/user_cookbook.html) and [running](https://roc-streaming.org/toolkit/docs/running/command_line_tools.html#id3) for develop branch?

[2020-07-05 17:32] gavv commented on #379
Great! Develop branch is quite ahead of master and the guidelines were changed. They're not published on the web site (it's built from master), but you can find them in git:

* https://github.com/roc-streaming/roc-toolkit/blob/develop/docs/sphinx/building/user_cookbook.rst
* https://github.com/roc-streaming/roc-toolkit/blob/develop/docs/sphinx/running/command_line_tools.rst

[2020-07-07 20:00] gavv commented on #353
Merged. @Villaquiranm thanks.

[2020-07-07 20:00] #353 closed

[2020-07-08 14:46] gavv commented on #216
## Negotiated parameters

* rtpmap (dynamic payload types)
* fssi (FEC-scheme specific information)

[2020-07-08 14:47] gavv commented on #34
Will be implemented in #216.

[2020-07-08 14:47] #34 closed

[2020-07-08 14:50] gavv commented on #393
Closing, feel free to reopen if necessary.

[2020-07-08 14:50] #393 closed

[2020-07-08 14:51] gavv commented on #313
Closing this, feel free to reopen or create a new issue if you'll have troubles.

[2020-07-08 14:51] #313 closed

[2020-07-08 14:56] gavv commented on #329
Unassigning this so that someone could pick it up. @unguest Feel free to ping me if you'll decide to work on it thought.

[2020-07-08 14:57] gavv commented on #328
@CleverShovel Hi, do you have any further plans on this?

[2020-07-08 15:01] gavv commented on #302
@aj-thomas-8 Hi, do you still have plans on this?

[2020-07-08 15:40] gavv commented on #299
Recent develop branch now has speex resampler support which works a few times faster than our resampler. It's now enabled by default. It may fix this problem.

[2020-07-08 21:38] aj-thomas-8 commented on #302
Sorry, I’ve had a bunch of things come up so I won’t be able to work on this unfortunately

[2020-07-08 23:16] enigmaro commented on #198
Hello @gavv , I just looked at this project and it seems very exciting to contribute to. I was wondering if I could pick up on this issue if it has not been assigned to anyone else.

[2020-07-09 08:49] gavv commented on #198
@enigmaro Great, you're welcome, the issue is free.

[2020-07-09 08:50] gavv commented on #302
@aj-thomas-8 No problem! Unassigning this issue so someone else could pick it up. Feel free to come back to the project if you'll have time and interest in future.

[2020-07-09 08:51] gavv commented on #305
#302 is unassigned again

[2020-07-09 20:59] gavv commented on #198
Hi, saw your message on IRC, but you're offline already, so answering here.

Sounds good. Let's try it and see how it'll work.

[2020-07-09 21:00] gavv commented on #198
BTW if you want to receive offline messages on IRC, see here https://roc-streaming.org/toolkit/docs/about_project/contacts.html

[2020-07-10 07:02] gavv commented on #363
Merged.

[2020-07-10 07:02] #363 closed

[2020-07-10 08:31] gavv commented on #382
assigned to @BitsonFire

[2020-07-10 09:09] gavv opened #403 "Add graphical user interface to signal-estimator"
[signal-estimator](https://github.com/gavv/signal-estimator) is a command-line tool for measuring latency and glitches over audio devices. It's not part of Roc, but it was developed with our needs in mind.

It would be very handy for debugging to have a graphical user interface, allowing to inspect input / output streams in real-time. It is suggested to develop such an UI using Qt + Qwt.

See furt

[2020-07-10 22:32] Villaquiranm commented on #389
Hello @gavv, i would like to work on this if nobody else has started :)

[2020-07-11 09:17] gavv commented on #389
Great, you're welcome! The issue is free.

[2020-07-11 09:32] gavv commented on #390
Update 3: we've added documentation for `env-android` image: https://github.com/roc-streaming/roc-toolkit/blob/develop/docs/sphinx/development/continuous_integration.rst#android-environment

[2020-07-11 15:38] MatteoArella commented on #390
I can work on this :)

[2020-07-12 07:34] gavv commented on #390
Great!

[2020-07-12 08:06] gavv opened #405 "Enable caching for Android SDK components in GitHub Actions"
Our Android builds use `env-android` docker image, which also downloads dependencies (Android SDK and NDK) each build.

We can try to cache downloaded content between builds and see whether it'll speed up them. We can do it by caching [`/sdk`](https://github.com/roc-streaming/roc-toolkit/blob/develop/docs/sphinx/development/continuous_integration.rst#tools-caching) volume of the docker image.

Use

[2020-07-12 08:20] gavv opened #406 "Enable ccache in GitHub Actions"
_Last revised: Oct 2023_

## Intro

Currently our CI builds take ~15-20 minutes, and we're planning to add more jobs.

I suspect that we could speed up them significantly by employing `ccache` and preserving cache between builds.

Our builds include building third-party dependencies, like sox and pulseaudio. They are built many times because we check builds on many environments (different Linux di

[2020-07-12 18:51] CleverShovel commented on #328
@gavv Sorry for long delay, I'm was busy. I try to find time for this by the end of this month.

[2020-07-12 19:03] gavv commented on #328
Great!

[2020-07-12 20:48] gavv commented on #390
Merged.

[2020-07-12 20:48] #390 closed

[2020-07-13 08:35] gavv opened #407 "SCons rebuilds generated files twice"
I expect this issue will require diving deep into [scons](https://scons.org/) internals, a Python-based build system we use. If you're interested, welcome aboard :)

We use GNU gengetopt to generate command-line parsers. We have three gengetopt files:

[code]

For each of them, scons generates `cmdline.c` file and includes it into build. Here is where it's implemented:

* https://github.com/roc-st

[2020-07-13 11:15] pvimal816 commented on #375
I want to work on this issue.

[2020-07-13 11:24] pvimal816 commented on #375
I thought about how would I approach this problem.

If we can somehow stop the execution of tests when a runtime error occurs then we can notice it in CI. So we can configure sanitizers to do not continue execution after runtime error and stop instead. So we just have to pass `-fno-sanitize-recover=undefined`(this will stop execution for 'undefined behaviour' only) option in compilation.

[2020-07-13 12:53] gavv commented on #375
Great!

Sounds good. I think we should set -fno-sanitize-recover for any sanitizer that we're enabling in scons.

The manual also mentions halt_on_error runtime option, if just using -fno-sanitize-recover wouldn't be enough, we can try to set it too.

[2020-07-13 13:15] gavv opened #408 "Build documentation for multiple releases"
We have [sphinx](https://www.sphinx-doc.org/en/master/) documentation and a Travis job that automatically generates HTML from it and publishes it on our website on GitHub pages. The job always fetches the latest commit from master and builds docs only for that commit.

Instead, it would be handy to fetch and build documentation for every release (i.e. every git tag starting from `v...`), plus for

[2020-07-13 13:23] gavv opened #409 "Generate PDF and EPUB from sphinx documentation"
We have [sphinx](https://www.sphinx-doc.org/en/master/) documentation, from which we automatically generate HTML and publish it on our website.

In addition to the website for online browsing, it would be nice to allow the user to download PDF and EPUB for offline reading.

We should configure sphinx to generate those two files and display links to the PDF and EPUB in the left sidebar, somewhere a

[2020-07-13 13:36] gavv opened #410 "Use thread local storage in fast_random()"
Currently, [core::fast_random()](https://github.com/roc-streaming/roc-toolkit/blob/da0383488b087e632d6fbcf9bd99be00670173c0/src/modules/roc_core/target_posix/roc_core/fast_random.cpp#L38) is implemented using pthread_once + pthread_mutex. This approach works, but creates an additional contention point between real-time threads, which is better to be avoided.

Instead of using pthread_once + pthrea

[2020-07-14 04:13] pvimal816 commented on #375
In c++ it is undefined behavior to set an invalid value to an enum type(at least in our case).

Some workarounds are as follows:
- Change function argument type from `roc_interface` to `int` then after check pass it to `iface`. I don't know if this is a good approach.
- Another option is that we can use `int` as the underlying type of `roc_interface` but that requires us to use c++ version 17(But

[2020-07-14 06:22] gavv commented on #375
Changing API just to calm down sanitizer is an overkill, we shouldn't do it.

We use C++98 internally, and the API headers are pure C.

Can we change the implementation of interface_from_user() to cast enum to int (maybe using reinterpret cast or cast via a union) and only then check the value?

If we don't find a way to fix this in code (without changing API), we can add the function to sanitizer

[2020-07-14 12:57] pvimal816 commented on #375
we can use reinterprete_cast to convert the enum to int. I have tested it on ubuntu 18.04, 64 bit, g++ and clang++.

But then it will become compiler and target-dependent. If the compiler has not allotted as much memory to enum as it does for int then we would have illegal memory access?

I don't think reinterpret_cast is a good choice. What do you suggest?

[2020-07-14 13:55] gavv commented on #375
I was thinking about casting value, but you're talking about casting address, right? Because apparently reinterpret cast doesn't allow casting between integer types. You're right, pointer cast will depend on compiler and endianness, so let's avoid it. If a regular cast or static cast of enum to int doesn't help either, I don't see any good options except using blacklist.

[2020-07-14 14:05] pvimal816 commented on #375
Yes I was talking about pointers.

[2020-07-15 07:17] gavv commented on #382
Merged.

[2020-07-15 07:17] #382 closed

[2020-07-19 05:25] MBkkt commented on #379
I don't recommend using this algorithm, it's good in theory, but in practice there is a huge constant. I advise you to try a regular binary heap, and only if the performance turns out to be insufficient, you should look for optimizations

[2020-07-19 08:23] gavv commented on #379
@MBkkt thanks for the notice!

I haven't work much with heaps by myself, but quick googling and even Wikipedia article on Fibonacci heap confirms your point.

I feel that Binary heap isn't very well for us because it has O(log n) insertion, while in our specific case insertion speed is the most critical, since tasks are inserted from latency-sensitive threads.

[Wikipedia](https://en.wikipedia.org

[2020-07-19 19:11] JeyP4 opened #415 "What would be the best command lines for minimum latency over wired LAN network?"
Hi
Actually I tried many cmdlines e.g.
`./roc-send -vv -s rtp+rs8m:10.72.1.80:10001 -r rs8m:10.72.1.80:10002 -d pulseaudio -i echoCancel_source  --rate=16000`

`./roc-recv -vv -s rtp+rs8m:10.72.1.80:10001 -r rs8m:10.72.1.80:10002 -d pulseaudio -o alsa_output.pci-0000_00_1f.3.analog-stereo --rate=16000 --sess-latency=30ms`

But couldn't figure out best cmds for lowest possible audio latency. I am u

[2020-07-20 13:14] MBkkt commented on #379
I understand the concern, but what is the order of the number n? Are you sure the insert will be the bottleneck? In general, given that you want an intrusive queue, probably a binary heap is really not suitable.

[2020-07-21 05:02] Ewaolx commented on #379
@gavv  Sorry for late reply, but as you mentioned I also think if we want strictly O(1) amortized for insertion then binary heap would not work. Also, pairing heap sounds like a good option  if we are concerned about the Fibonnaci's practical performance. We can go ahead with pairing heap in this case.

Let me know what do you think. Thanks.

[2020-07-21 05:19] MatthewScholefield opened #416 "`ros-recv` not available in Termux"
From the [tutorial](https://gavv.github.io/articles/roc-tutorial/#android-termux) it sounds like after installing `roc` with Termux we should be able to run `roc-recv`. However, neither `ros-recv` nor `ros-send` appear to be executables. Is there something wrong or is `roc-recv` not necessary on Android?

Thanks,
Matthew

[2020-07-21 07:46] yjheo15 commented on #380
Hello, I'm interested in this issue. May I know if you have a more specific guideline for the 'smoother behavior' you want?
Are there specific limitations?

[2020-07-22 17:07] CaseyGuanSun opened #418 "Mac build error"
I am building roc-toolkit on Mac book pro.
but there are errors about it:
: scons -Q
then print this error:
AttributeError: 'SConsEnvironment' object has no attribute 'SourceCode':
roc-toolkit/SConstruct", line 55:
    env.SourceCode('.', None)

[2020-07-23 15:46] MatteoArella commented on #396
I can easily work on this

[2020-07-23 22:30] Prg1005 commented on #410
Hi @gavv I would like to work on this issue, please let me know.

[2020-07-26 08:50] gavv commented on #410
@Prg1005 Great, you're welcome!

[2020-07-26 08:59] gavv commented on #396
Great!

[2020-07-26 10:09] gavv commented on #418
Thanks for reporting! This function was deprecated in recent scons. Fixed in develop and master, could you please check it?

[2020-07-26 10:21] gavv commented on #416
Hi, thanks for interest in the project.

We don't have command-line tools for Android yet because of these two issues: #232, #246. They're to be resolved in future.

Currently we offer two options for Android:

* PulseAudio sink-input (acting as Roc receiver), can be used with Termux
* native [Android app](https://github.com/roc-streaming/roc-droid), currently in prototype stage; currently it also

[2020-07-26 10:27] gavv commented on #415
Hi, you can take a look at this comment: https://github.com/roc-streaming/roc-toolkit/issues/255#issuecomment-531257393. I'll add it to documentation a bit later.

If you're using wired LAN, you can disable FEC to be able to reduce jitter buffer. See also this bug: #184.

Let me know if you'll need further help.

[2020-07-26 11:15] gavv commented on #380
@yjheo15 Hi, you're welcome.

The simplest solution coming in mind is to process one issue from first queue, then one issue from second, then one from first again, etc.

Another approach is to do batching: process issues from first queue, but no more than N; then go to the second queue, and so on. This sometimes has a positive impact on throughput, but probably not in our case. Needs a closer look

[2020-07-29 07:47] yjheo15 commented on #380
If no one else is willing to, I'll give it a shot! I'll first start with the easy implementation of having two queues then move on to batching or other solutions.
May I know how to find which part of the files I would have to work on?
This is my first time participating in open source so I'm slightly lost after forking.

[2020-08-03 10:06] gavv commented on #389
Merged.

[2020-08-03 10:06] #389 closed

[2020-08-03 20:18] enigmaro commented on #231
Hello gavv, Can I work on this?

[2020-08-03 23:49] davex25 commented on #231
In case it's of any use to you, here was my basic implementation of it, which I never made pull-request worthy. I had also created a JACK source and sink, not sure if I ever pushed that.

https://github.com/davex25/roc/commit/06e2ab6aa432a8c66696a7cec4f787618c5fde2c

[2020-08-04 10:36] gavv commented on #231
@enigmaro sure, you're welcome!

[2020-08-05 23:16] tari3x commented on #336
Hey, I beat you in slow responding!

My Wifi throughput is very good, I get 70Mbit down/up, with 2ms ping to 8.8.8.8. My WFH remote connection has almost no perceptible lag.

I ended up getting a wireless HDMI thing, and it works perfectly, so I'll just stick with that.

[2020-08-06 08:57] gavv commented on #336
@tari3x Thanks for sharing!

[2020-08-06 08:57] #336 closed

[2020-08-06 10:22] gavv commented on #379
Usually the number of tasks should be low. However, the key point here is that it can grow *uncontrollably* during load peaks, and at the same time we don't want latency to grow uncontrollably.

We don't optimize every single piece of code, but try to follow design principles which would keep us from ending up with code that we're unable to optimize at all.

One of such principles chosen in this p

[2020-08-06 10:23] gavv commented on #379
Yeah, let's try a pairing heap then.

[2020-08-06 10:29] gavv commented on #380
@yjheo15 Great!

I guess you did already find it, but the current behavior:

`When it selects a task for execution, it always first checks the queue for immediate execution, and if it's empty, it then checks the queue for delayed execution.`

is coded here:

https://github.com/roc-streaming/roc-toolkit/blob/d619f2533e9bab12af68b02ce9b2c781856b80b9/src/modules/roc_ctl/task_queue.cpp#L161-L166

[2020-08-07 13:21] gavv commented on #375
Merged!

[2020-08-07 13:21] #375 closed

[2020-08-12 08:09] pvimal816 commented on #410
Can we use `__thread` keyword to have thread local seed. Then I think we don't need pthread_key_create.

[2020-08-12 08:23] gavv commented on #410
Regarding __thread, see my last comment in PR.

[2020-08-16 09:49] Nazi-pikachu commented on #409
Hey! I would like to work on this issue please assign it to me if not already assigned

[2020-08-17 03:54] enigmaro commented on #231
@gavv To set hardware parameters for the AlsaSink can I adopt default parameter values from the config [here](https://github.com/gavv/signal-estimator/blob/master/src/Config.hpp)? In particular just the format, access and periods.

[2020-08-19 10:39] gavv commented on #409
Great, you're welcome.

[2020-08-19 10:47] gavv commented on #231
Format and access should correspond to our internal representation, to avoid unnecessary conversions (sample_t and Frame). We use PCM with native-endian interleaved floats.

Latency should be configured by --io-latency option.

As for the number of periods, we can start from hardcoding it to 2 and see whether it's a good universal value. If we find cases where a different number of periods can pro

[2020-08-19 18:30] brorbw commented on #334
Is there an update on this?

[2020-08-29 04:02] berglh opened #421 "Ubuntu 20.04 Pulseaudio 13.99.1 module not resuming after pausing audio playback"
I have a receiver and a sender both configured on Pulseaduio 13.99.1. I load the sending module manually when required, the receiver is always able to receive. The problem is, if I load the roc module on the sender it sends audio to the receiver just fine. If I am watching a video in Chrome for instance, then say pause and then return later to then start it again, the roc-sender module seems to en

[2020-08-29 07:18] rahul-ar commented on #408
Hello! I have been looking at this project and find it to be really interesting; I look forward to contributing to it. I'd be happy to take this issue up if that's alright.

[2020-08-29 07:18] rahul-ar commented on #408
I have been combing through the build files and travis jobs. If I'm not mistaken, using any of these extensions should replace sphinx_build with its own build command in one of the SConscripts. Is that right or am I missing something?

[2020-08-31 21:49] ssfuen commented on #383
hi, I'd like to work on this

[2020-09-01 10:21] b247 opened #422 "Roc Cross-compile RPi 3 B+ ARMv7 - pulseaudio modules"
Hi,
I try to cross compile the pulseaudio ROC modules for a Rpi3 arm device (Raspberry Pi 3 running OSMC - Debian 9+Kodi), using docker (On Ubuntu):
docker run -t --rm -u "${UID}" -v "${PWD}:${PWD}" -w "${PWD}" \
    rocproject/cross-arm-linux-gnueabihf \
      scons -Q \
        --enable-pulseaudio-modules \
        --disable-tests \
        --host=arm-linux-gnueabihf \
        --build-3rdparty=l

[2020-09-01 16:44] gavv commented on #383
Sure, thanks, you're welcome.

[2020-09-02 06:44] b247 commented on #422
Using manual toolchain ...
export PATH="${TOOLCHAIN_DIR}/gcc-linaro-7.4.1-2019.02-x86_64_arm-linux-gnueabihf/bin:${PATH}"

**Test 1: openfec failed**
$ scons -Q --enable-pulseaudio-modules --disable-tests   --host=arm-linux-gnueabihf --build-3rdparty=libuv,libunwind,openfec,alsa,pulseaudio:10.0,sox
Error:
GET   3rdparty/arm-linux-gnueabihf/gcc-7.4.1-release/build/openfec-1.4.2.4
[found downloaded]

[2020-09-02 15:11] ashishsiyag commented on #379
Hey @Ewaolx are you working on pairing heap implementation ?

[2020-09-04 16:24] MatteoArella opened #424 "Android roc-test-library test hangs on Travis for i686 platform"
`roc-test-library` test hangs on android emulator (based on i686 android platform) on Travis build (#396 #419).

Here are full backtraces and tailed test logs for android API 24, 28 and 29:

| API | BACKTRACES  | LOGS  |
|------|---------------------|----------|
| 24  | [full backtrace](https://gist.github.com/MatteoArella/907ba195aeac965f3324de59d4585c9f) | [verbose output](https://gist.github.co

[2020-09-04 21:19] demon36 opened #425 "armhf cross compile error"
when I try to cross compile for my raspberrypi 4 using the docker command described at https://gavv.github.io/articles/roc-tutorial/, I get the following error:
`
scons: *** [.clang-checks] ValueError : unsupported pickle protocol: 5
`

also having prebuilt binaries would help a lot

[2020-09-05 08:52] b247 commented on #425
I also had some problems with using docker for cross-compiling roc for armv7.
But I succeeded by using the manual toolchain approach.
Here: https://github.com/b247/b247/tree/master/roc-toolkit-pulseaudio-armv7-binary-files, you can find both binary files and the toolchain approach used.

[2020-09-05 08:53] #422 closed

[2020-09-10 15:27] demon36 commented on #425
thanks for help, I found it too complicated so I tried trx, which seems to do the job quite well, also available in debian repos

[2020-09-12 14:52] b247 commented on #425
For me, roc-streaming does the perfect job; It have PulseAudio modules and FEC. It takes a few minutes to be up and running in both my Ubuntu desktop (from where I can use pavucontrol) and my headless Debian 9 arm RPi 3.
I'm quite impressed with the audio quality and wish to send my gratitude to Victor for that. Copy/paste some already used by me shell commands (or as a last resource just copy som

[2020-09-19 22:51] Hassan-A commented on #379
Hello @gavv , this seems inactive. Mind if I try as well?

[2020-09-21 08:55] gavv commented on #396
Done, except failing tests on i686: #424.

[2020-09-21 09:05] gavv opened #426 "Make fast_random() lock-free"
_Last revised: Oct 2023_

Currently, [core::fast_random()](https://github.com/roc-streaming/roc-toolkit/blob/da0383488b087e632d6fbcf9bd99be00670173c0/src/modules/roc_core/target_posix/roc_core/fast_random.cpp#L38) is implemented using pthread_once + pthread_mutex. This approach works, but creates an additional contention point between real-time threads, which is better to be avoided.

Another prob

[2020-09-21 09:06] gavv commented on #410
I've created a new issue: #426.

[2020-09-21 09:06] #410 closed

[2020-09-22 10:01] gavv opened #427 "Refine sound I/O backend initialization"
## Problem

In roc_sndio module, we have support for multiple audio backends, employing different external libraries. Currently they are PulseaudioBackend and SoxBackend.

SoxBackend uses SoX library, which have global initialization function (sox_init) and global configuration set (sox_globals). These facilities are not thread safe. sox_init() should be called once before using SoX, multiple and

[2020-09-23 09:48] gavv commented on #391
@EkanshBhatnagar Hi, do you still have plans on this?

[2020-09-23 09:48] gavv commented on #409
@Nazi-pikachu Hi, do you still have plans on this?

[2020-09-23 09:49] gavv commented on #415
Closing this, feel free to re-open if you'll have more questions.

[2020-09-23 09:49] #415 closed

[2020-09-23 09:50] #416 closed

[2020-09-23 09:53] gavv commented on #418
Feel free to re-open if you'll have the issue again.

[2020-09-23 09:53] #418 closed

[2020-09-23 09:59] gavv commented on #421
Hi, sorry for late reply!

Most likely, this is the same problem as described here: #152, #72.

Possible workarounds:

* disable module-suspend-on-idle (comment it in PA config or unload at runtime);
* OR: https://github.com/roc-streaming/roc-toolkit/issues/152#issuecomment-593094844

I'll try to reproduce this in upcoming days to verify it's the same issue.

[2020-09-23 10:06] gavv commented on #425
Hi, sorry for late reply!

[code]

This usually means that you've used scons with different python versions on the same repo (e.g. on host and in docker container). Just cleaning the working copy should fix the problem. E.g. run `scons -c` on host and only then run build using docker.

I'll take a look, maybe we can handle it programmatically or at least report more meaningful error message.

[2020-09-23 10:15] gavv commented on #425
Regarding prebuilt binaries, I think the proper way to do it is to create packages for popular distros. Such packaging requires a maintainer, someone who is familiar with the distro, is using Roc on it, and have some time for this. From my side, I'll be happy to provide any help and open to suggestions.

BTW, someone once started working [on a package for Archlinux](https://github.com/roc-streamin

[2020-09-23 10:16] gavv commented on #425
@b247 Thanks for your kind words!

[2020-09-23 10:22] gavv commented on #408
@rahul-ar Hi, sorry for late reply!

I didn't work with them, but from docs it seems yes.

[2020-09-23 10:24] gavv commented on #379
Hi, sure.

[2020-09-23 10:40] gavv commented on #380
@yjheo15 Hi, do you still have plans on this?

[2020-09-23 10:42] gavv commented on #317
@NikeHill1701 Do you still plan to work on this?

[2020-09-23 12:02] gavv commented on #396
Just caught an error on x86_64:

[code]

https://travis-ci.org/github/gavv/roc-toolkit/jobs/729580567

@MatteoArella any ideas?

[2020-09-23 12:08] gavv commented on #422
Hi, sorry for delay!

Pushed a fix to develop.

Can't reproduce, but also pushed a possible fix to develop. Likely the problem is caused by different python versions.

Do you have aclocal 1.15 in your environment? You could also try workarounds mentioned here: https://stackoverflow.com/questions/33278928/how-to-overcome-aclocal-1-15-is-missing-on-your-system-warning

Did you solve your issue alrea

[2020-09-23 12:40] rahul-ar commented on #408
Can I take this up?

[2020-09-23 15:15] gavv commented on #408
Sure!

[2020-09-23 15:38] Nazi-pikachu commented on #409
@gavv Sorry for the long gap, I am bit new with open source and Github so it is taking me a lot of time to fix this can you help me out on how to approach the above issue i have started by looking the documentation of sphinx but i was unsure on how to implement the PDF and EPUB version of the documentation in the code also how to add the button in the website for the same any help will be much app

[2020-09-24 07:29] berglh commented on #421
@gavv Thanks for the reply :+1:

So, given that I'm loading and unloading the roc-sink manually, the following workflow seems to be working as expected:

[code]
I could setup a little script to toggle it with a hotkey shortcut in Gnome Shell, so that way I can by default still use the suspend-on-idle feature and then disable it only when using the roc-sink.

[2020-09-24 12:10] NikeHill1701 commented on #317
@gavv, No I do not.

[2020-09-24 18:17] jsomwaru commented on #388
I'm interested in the project. Do you think I can take this issue. I'm a little rusty at C++ so I think this would be a good start for me while i get up to speed with the project.

[2020-09-25 12:24] gavv commented on #388
@jsomwaru Sure, you're welcome.

[2020-09-27 15:29] MatteoArella commented on #396
Connection reset on download seems unrelated to #419 PR but it seems rather a travis network connectivity problem. Did you encounter this problem before or it is the first time?
If you prefer, as you suggested time ago, we can try caching android sdk inside distfiles repo and see if it is an achievable solution.

[2020-09-28 06:58] gavv commented on #421
Great, thanks for sharing. Yes, we'll definitely fix it in upcoming release. I think we'll have a dedicated release for various PulseAudio issues.

Closing this as a duplicate of #152, we will track the problem there.

[2020-09-28 06:58] #421 closed

[2020-09-28 07:00] gavv commented on #152
As reported it #421, it's also reproducing on Pulseaudio 13.99.1.

Workaround suggested by @berglh: https://github.com/roc-streaming/roc-toolkit/issues/421#issuecomment-698169015

[2020-09-28 07:06] gavv commented on #409
@Nazi-pikachu no worries, take your time.

[2020-09-28 07:10] gavv commented on #396
Oh, I see. I though it's connection to emulator, but if it's just an error during download, I agree it's unrelated.

This is the first time.

Let's indeed close this issue. I'll add a comment regarding SDK to #405.

[2020-09-28 07:10] #396 closed

[2020-09-28 07:11] gavv commented on #405
See also: https://github.com/roc-streaming/roc-toolkit/issues/396#issuecomment-699649601

Likely, caching Android SDK will solve that problem. We can cache SDK using Travis cache support or using our distfiles git submodule.

[2020-09-29 22:39] jsomwaru commented on #388
Would you like this done for other images as well instead of just the ones mentioned above? The Ubuntu images could also be managed the same way.

[2020-09-30 12:27] gavv commented on #391
Unassigning so that someone could pick it up.

[2020-09-30 12:30] gavv commented on #388
Dockerfiles for different ubuntu tags have different package sets, so I think using a single dockerfile wouldn't be beneficial here: it will anyway have conditions for each supported tag.

[2020-09-30 12:33] gavv commented on #362
Unassigning so that someone could take a look at it and maybe find better solution. See discussions in the linked PR.

[2020-09-30 12:35] gavv commented on #328
Unassigning so that someone can continue the work during hacktoberfest. @CleverShovel feel free to let me know if you want to be re-assigned though.

[2020-10-01 08:37] GoldenBug commented on #426
In your issue description you mention that the current implementation uses both pthread_once + pthread_mutex, however in your linked file I only see your usage of pthread_mutex.

Is that the correct branch/commit/file?
Or do I misunderstand something when you say the current implementation uses pthread_once.

[2020-10-01 16:42] gavv commented on #426
@GoldenBug You're right, my bad. We use only mutex; pthread_once was employed in #420, but it wasn't merged.

[2020-10-01 17:03] divyavit commented on #379
Hi, I was interested in working on it and wanted to give it a try.. has it already been done ?

[2020-10-01 22:19] ejeschke commented on #252
Stumbled across this wishing to do the same thing: stream audio out of JACK on server to simple network clients using pulse.  FWIW, I managed to get something working somewhat reasonably (time will tell) with:
[code]
I'm wondering if I can get rid of the middle `sox` conversion to WAV (looks like `roc-send` is linking to the sox library to do the input conversions anyway).  Is there a "raw" `stdin

[2020-10-01 22:24] ejeschke commented on #254
:+1: for this feature. Really would be useful on the send side especially--I imagine lots of users running JACK on a server and streaming to simple clients.  I think it would be sufficient to have it in `roc-send` and `roc-recv`.

[2020-10-02 04:41] soapdogg commented on #378
Hi, I would like to work on this issue.

[2020-10-02 11:09] Hassan-A commented on #379
Hi @divyavit , still in progress.

[2020-10-02 11:54] gavv commented on #378
@soapdogg Hi, you're welcome!

[2020-10-09 21:50] jsomwaru commented on #364
You think I can take this?

[2020-10-10 02:05] Kaspi314 opened #429 "Pulseaudio sending config does not honor sample rate"
When sending from pulse audio (Ubuntu 20 LTS Desktop) with resampling in PA Daemon config to 48000hz 2channel f16, setting is not honored or configurable for the PA module and it will not connect to Raspberry Pi ALSA session.

With 44100hz there is an inability for the resampler to keep up even on LOW with the Pi 4:

`22:01:05.473 [dbg] roc_packet: router: detected new stream: source=1807046489 fl

[2020-10-12 10:57] gavv commented on #364
You're welcome!

[2020-10-22 23:51] DatanoiseTV opened #432 "Scons ignoring --prefix"
I'm building for a Buildroot-based Linux distribution and I've made a package.
Unfortunately, the Build is done always in build and bin and --prefix=$(TARGET_DIR) gets ignored.

[2020-10-24 20:36] jsomwaru commented on #364
If openssl is enabled should I remove target_libuv as target directory? Is the current target_libuv not supposed to have any conflicts with the OpenSSL target directory and why you specified to create the new tartget_libuv_csprn?

[2020-10-28 23:49] roopmukherjee commented on #426
Will a distribution work? Perhaps similar to https://stackoverflow.com/a/21238187.

[2020-10-29 14:59] Richie765 opened #433 "Error "roc_sndio: sox sink: failed to write output buffer" streaming to blootooth"
I've followed the step-by-step tutorial to stream from MPD on one machine to a Raspberry. I want to use the Pi to send over Bluetooth to one of my headsets or speakers. It all works very well, except when I turn-off the Bluetooth headset or switching to another BT headset / speaker. In that case the output gets flooded with errors (even after removing the -vv options):

[code]

When it happens I'l

[2020-10-30 20:00] EthicalCoder99 commented on #366
Hey! I'm new to Open Source and I am interested in contributing. I have written a few lines for this benchmarking but there is an error. Can you help me in fixing this?
[code]
I'm getting an error like this:

[code]

I think that the error is when I'm calling get_list();

[2020-11-20 19:15] stevenzhu94 commented on #426
Hi all. @gavv the current implementation returns uniformly distributed pseudo random numbers, so the solution mentioned by @roopmukherjee would be a good replacement, no?

[2020-11-24 23:38] stevenzhu94 commented on #380
@gavv how close should the threshold be? If the threshold is made too big, the opposite issue of the sleeping tasks starving the ready tasks could happen.

@yjheo15 If you're no longer interested in working on this issue I'd love to give it a try. It would be my first contribution to an open source project as well

[2020-11-25 02:53] yjheo15 commented on #380
@gavv Hello, sorry for the late reply. I tried to set up but lost track of it.
@stevenzhu94 Yes! I don't think I'll be able to work on this right now so feel free to take it up!

[2020-11-30 09:31] gavv commented on #366
@EthicalCoder99 sorry for late reply!

This panic is caused by safety check in List implementation. There are a few checks, sometimes we check that the item belongs to some specific list, sometimes we check that the item doesn't belong to any list (item's list pointer is NULL). `expected (nil)` means the second.

The panic is located in check_is_member_() method. It is called with NULL only in one

[2020-12-01 09:16] gavv commented on #252
@ejeschke

Thanks for sharing!

There is an option to force specific sample rate (`--rate`). It's also possible to force specific file/sample format, e.g. `s16` for signed 16-bit integers (`--driver` in master, `--input-format` in develop). In develop, you can also list supported formats using `--list-supported` options). These formats are actually the same as supported by sox (you can use them in

[2020-12-01 09:17] gavv commented on #254
We will definitely add it at some point.

[2020-12-01 09:36] gavv commented on #429
@Kaspi314 Hi, thanks for report.

Currently roc always sends 44100 via network. In 0.2 we'll add RTSP support, which will allow us to negotiate sample rate on fly and send any rate you need.

And yes, builtin roc resampler is too slow on some hardware. But in develop branch, we've added support for speex resampler, which is now used by default. Most likely, it will work good for you, so I recommen

[2020-12-01 09:39] gavv commented on #429
Let's keep this issue open until we'll add an option to pulseaudio modules to specify custom sample rate to use over network.

[2020-12-01 09:42] gavv commented on #432
Hi, thanks for report.

`--prefix` options defines where to *install* files. You usually run:

[code]

[2020-12-01 10:04] gavv commented on #364
Hi, sorry for late reply.

No, we have a lot of other code using libuv except PRNG implementation.

The only conflict will be secure_random().

If user specified `--disable-csprng`, we'll use secure_random from `target_nocsprng`. Otherwise, if OpenSSL is enabled, we'll use secure_random from `target_openssl`. Otherwise, if libuv version is at least 1.33.0, we'll use secure_random from `target_libu

[2020-12-01 10:11] gavv commented on #426
@roopmukherjee @stevenzhu94

Using C++11 random would require to have separate implementation for old non-C++11 compilers (which we still support), and I'd like to avoid this. Also, I'm not sure if C++11 thread_local is lock-free, are you aware of that?

Since replicating implementation from linked SO answer or lfds710_prng is rather simple, compatible with old compilers, and is guaranteed to be l

[2020-12-01 10:24] gavv commented on #433
Hi, thanks for report and sorry for late reply!

I agree, this is a problem. In pulseaudio sink, when write fails, we reopen stream. However in sox sink, used for alsa, we just continue logging errors every write and don't try to reopen sox stream.

We'll need to implement reopening in sndio::SoxSink and sndio::SoxSource. I'll look at it. For now, as an ugly workaround, you could wrap roc-recv int

[2020-12-01 10:30] gavv commented on #380
@yjheo15 thanks for reply, I'm unassigning the task then.

[2020-12-01 10:34] gavv commented on #380
@stevenzhu94 you're welcome,

Hm, this will require us to introduce a configuration option with expected task execution time. If deadline is closer than this time, we shouldn't try immediate tasks.

While this may work, I'd like to avoid introducing such option if possible, since it would be hard to maintain it (different tasks may have different execution times on different platforms). Also, it s

[2020-12-02 08:56] gavv commented on #388
Thanks!

[2020-12-02 08:56] #388 closed

[2020-12-02 09:26] stevenzhu94 commented on #380
@gavv sounds like a plan. Please assign me to this.

[2020-12-04 11:50] gavv commented on #337
I think we can close this for now.

[2020-12-04 11:50] #337 closed

[2020-12-05 13:58] Pandiora commented on #334
Well, sorry for the late reply, didn't looked at Github for quite some time. I almost finished a script for the package and did a lot of testing, but gave up in between, since Arch-Chat is helpful in a way, I can't do or do not understand what they're asking for. No promise, but I try to look into it again, I still got the install-script lying around on my ssd.

[2020-12-07 09:23] gavv opened #435 "Use virtual time in TaskQueue unit tests"
Currently unit tests for ctl::TaskQueue (`test_task_queue.cpp`) are partially bound to real clock time (`core::timestamp()` function) and due to this they can fail on loaded system, e.g. slow travis runners.

We can make them 100% reliable by using virtual clock instead of real time, i.e. clock that is fully controlled by unit tests.

We already use such approach in unit tests for pipeline::TaskPi

[2020-12-07 09:25] #380 closed

[2020-12-07 15:30] OkenKhuman opened #436 "How to save state/configuration"
When I stream audio from docker container with `pulseaudio module-roc-sink` to RaspberryPi4 with `roc-recv`, I am having too much distortion. [auto fixed after nearly 1 hour]

Last time (nerly 1 moth back) when I did it was fixed just by few seconds...

the commands I run on docker container
`pacmd load-module module-roc-sink remote_ip=192.168.29.3 sink_properties=device.description=Raspberry`

th

[2020-12-08 09:44] gavv commented on #436
Hi, thanks for report. Could you paste logs from roc-recv during first few minutes?

Could you also check what happens if you add `--beeping` to roc-recv? I expect one of the two options: 1) all distortion is replaced with beeps; 2) distortion is still here, probably some beeps are here too.

[2020-12-08 17:05] 4d696e6820427569 commented on #435
Hi, can I work on this issue?

[2020-12-08 17:50] gavv commented on #435
Sure, you're welcome!

[2020-12-09 16:15] 4d696e6820427569 commented on #435
I have several questions:

 1. I have added a protected virtual method timestamp_imp() to ctl::TaskQueue. Since ctl::TestTaskQueue is a derived class, it needs to implement timestamp_imp(). Similar to pipeline::TestPipeLine, I added a public field time_ and set_time() to ctl::TestTaskQueue. Am I in the right direction?

 2. ctl::TestHandler has this public method

[code]

 Initially, I planned to

[2020-12-11 07:21] OkenKhuman commented on #436
Sorry for late reply.
Today it seems the setup works without problem and without noise delay.
By running `/home/pi/proj/speech_processing/roc_alsa/roc-recv -vv -s rtp+rs8m::10001 -r rs8m::10002 -d alsa`
I obtain the below result
[code]
but
by running `/home/pi/proj/speech_processing/roc_alsa/roc-recv --beeping -vv -s rtp+rs8m::10001 -r rs8m::10002 -d alsa`
[code]

[2020-12-11 07:26] OkenKhuman commented on #436
With --beeping I can hear single beep sound at start.

Just cannot Identify what happen today . Suddenly it works without any changes. :smile:

[2020-12-11 07:31] OkenKhuman commented on #436
I extracted some snap from last time it does not work via nohup.out , `nohup /home/pi/proj/speech_processing/roc_alsa/roc-recv -vv -s rtp+rs8m::10001 -r rs8m::10002 -d alsa &`

[code]

[2020-12-11 07:45] OkenKhuman commented on #436
Is there other debug option I can try to test the fault?

[2020-12-12 15:37] 4d696e6820427569 commented on #435
<img width="693" alt="Screen Shot 2020-12-12 at 10 26 19 PM" src="https://user-images.githubusercontent.com/5247520/101987880-33cb8100-3cc9-11eb-9145-f17f520ae095.png">

I think I got it but it seems like my solution's very hacky. It's basically manipulating the virtual clock to pass the task_queue tests. Especially for tests like **schedule_at_shuffled** or **schedule_and_async_cancel**.

Right n

[2020-12-14 10:47] #395 closed

[2020-12-14 10:47] #255 closed

[2020-12-14 11:07] gavv commented on #436
Converting this to discussion (new github feature).

[2020-12-14 11:08] #436 closed

[2020-12-14 11:33] #299 closed

[2020-12-16 02:01] bkayes commented on #302
can I work on this issue?

[2020-12-19 08:18] gavv commented on #435
Yes.

TestHandler uses core::timestamp() to check *when* TaskQueue actually calls the handler. So with virtual clock approach, I think the most clean way would be to make TestHandler checking the current (virtual) time in TaskQueue instead of having its own time.

We could pass a reference to TestTaskQueue to TestHandler ctor, so that it can call TestTaskQueue::get_time(). Or we can extract virtua

[2020-12-19 08:35] gavv commented on #435
See also comments in PR.

[2020-12-19 08:37] gavv commented on #302
@bkayes You're welcome!

[2021-01-19 16:05] Jesus82 opened #439 "Bug when compiling in ubuntu (Raspberry Pi)"
I'm trying to compile in a Raspberry Pi 4 with Ubuntu 20.10 freshly installed.

When doing `scons -Q --enable-pulseaudio-modules --build-3rdparty=openfec,pulseaudio`, I get `can't make 'json-0.11-20130402', see '3rdparty/aarch64-pc-linux-gnu/gcc-10.2.0-release/build/json-0.11-20130402/build.log' for details`
The logs:
[code]
Is there any manual way to tell the script which OS I'm running?

Thanks

[2021-02-01 18:04] ivsntejesh commented on #409
Check out this post- https://gist.github.com/alfredodeza/7fb5c667addb1c6963b9.
If it might help.

[2021-02-06 13:44] r31griffo opened #440 "Compiling issue following tutorial: modules/raop/raop_client.c: In function 'rsa_encrypt':"
G'day everyone,
I'm hoping someone might be able to assist, I'm not well versed with compiling applications and don't really know where to start with this.  If this is more of an issue for the Pulseaudio gurus, please let me know as I'm desperate to get this going, the other network streaming options I've tried have either been unsuccessful or the latency was too high.

Following this tutorial:
ht

[2021-02-07 04:20] r31griffo commented on #440
Google to the rescue... admittedly I've got no idea of the impact this might cause but it compiles now.

"rijulg" had exactly the same error with a different version of Pulseaudio 9.0, I've followed the steps he outlines from bullet point 3 in this link: https://gist.github.com/therealkenc/5dae7eefbacb0083e485348bd25ee33c

To summarise, after running scons and failing I found the file with the fol

[2021-02-09 13:39] Jesus82 commented on #440
I had the same issue with Raspberry OS (based in debian). Tried your fix, but no luck (I'm running Pulseaudio 5)
[code]

[2021-02-15 07:30] poopo80 opened #441 "Nutz"

[2021-02-15 08:09] CRImier commented on #441
Thank you, that's good to know.

[2021-02-22 11:02] #441 closed

[2021-02-22 11:14] gavv commented on #439
Hi! Sorry for delay.

`config.guess` should return a string like `x86_64-pc-linux-gnu`. You can define it manually using `--build` option (e.g. `--build=x86_64-pc-linux-gnu`). If you do this, config.guess is not used by Roc.

To find out what string you need, you can run a fresh copy of config.guess script manually (e.g. download it from GNU web site), or try the output from this command: `gcc -v

[2021-02-22 11:19] gavv commented on #440
Hi thanks for report.

@r31griffo @Jesus82 Could you tell what OS versions did you use, so that I could try to reproduce it?

[2021-02-22 11:27] Jesus82 commented on #440
Hi @gavv it is Raspberry Pi OS 32 bits, latest release (11-01-2021), it is a debian based linux. https://www.raspberrypi.org/software/

[2021-02-22 17:29] Jesus82 commented on #439
When doing `scons -Q --enable-pulseaudio-modules --build=aarch64-linux-gnu `i got `error: openfec not found (see 'config.log' for details)`

So I downloaded a fresh `config.guess `from [http://git.savannah.gnu.org/gitweb/?p=config.git;a=blob_plain;f=config.guess;hb=HEAD](http://git.savannah.gnu.org/gitweb/?p=config.git;a=blob_plain;f=config.guess;hb=HEAD), and replaced the original one in three di

[2021-02-22 18:36] #432 closed

[2021-02-23 13:55] r31griffo commented on #440
@Jesus82 @gavv
Sorry for the delay replying; my workload has been crazy lately.  From memory the board I'm using is a NanoPi NEO-LTS running

#lsb_release -d
Description:    Ubuntu 16.04.2 LTS

#uname -a
Linux vring 4.14.52 #114 SMP Tue Mar 5 16:05:06 CST 2019 armv7l armv7l armv7l GNU/Linux

Another funny issue (probably related to me not having an onboard RTC or maybe my implementation is weird)

[2021-02-27 15:00] gavv commented on #405
Not relevant after migrating to GH actions and using `maxim-lobanov/setup-android-tools@v1`.

[2021-02-27 15:00] #405 closed

[2021-03-04 13:42] kaosbeat commented on #86
is it, at the moment, possible to have a multi-channel setup?

for example jack-router allows to specify virtual outputs. They show up in my qjack-ctl
![Screen Shot 2021-03-04 at 14 34 58](https://user-images.githubusercontent.com/204628/109971854-f63e2900-7cf6-11eb-8963-9d93d6611df2.png)

How would I connect each one of them to a single roc-send? So my roc-recv on the other side just has to deal

[2021-03-05 10:02] gavv commented on #198
@enigmaro Hi! Do you still have plans on this?

[2021-03-05 10:04] gavv commented on #383
@ssfuen Hi, do you still have plans on this?

[2021-03-05 10:05] gavv commented on #378
@soapdogg Hi, do you plan finishing the PR?

[2021-03-05 11:01] gavv commented on #439
Interesting, it's reproducing only on Ubuntu 20.10 on 64-bit ARM, but not on 32-bit ARM or x86_64.

I finally was able to reproduce and fix it: ef5374bc92f1d9e73185b7db2e78e1ec62dc9d38. It should now build out of the box.

Thanks for report! Feel free to reopen this if you'll have any further problems.

[2021-03-05 11:01] #439 closed

[2021-03-05 11:09] gavv commented on #440
I was able to reproduce it. Older pulseaudio is just not compatible with newer openssl.

The "fix" is simple: just disable openssl when building pulseaudio. It's completely OK to do it since we're building pulseaudio only to link our modules with its internal libraries (like libpulsecore), and after linking we don't in any way use pulseaudio binaries which we've built. So it's OK if some features

[2021-03-05 11:10] gavv commented on #440
Interesting, feel free to open an issue of that.

[2021-03-05 11:10] gavv commented on #440
Closing this, feel free to reopen if you'll have any troubles with the fix.

[2021-03-05 11:10] #440 closed

[2021-03-05 11:47] gavv commented on #86
Hi!

Currently, roc always uses exactly two channels. I'm planning to fix this in 0.2 (upcoming major release).

Currently roc doesn't support JACK. But if you map each output port to a separate ALSA device, you can run an instance of roc-send for each device.

If somebody will add support for JACK in future, it could be possible to connect roc-send directly to a JACK port.

You can use `--input`

[2021-03-05 12:42] kaosbeat commented on #86
We'll see multichannel when it arrives :)

I guess on a mac you cannot make separate ALSA devices?

The system profiler spits out quite a list. It however has no effect
I tried the --input option with no success. It defaults to the the default input device, which is on my mac a single channel microphone.  I'm using the "name" because that is the closest I can find to ID

I tried changing the input

[2021-03-05 13:28] gavv commented on #86
Oh, yes, this is only about Linux.

Looks legit. Last time I tested it with soundflower device: https://gavv.github.io/articles/roc-tutorial/#run-roc-send-1

So when you use `--input "Audiohub 2x4"`, roc-send ignores it and just uses default input device?

Yes, until this issue is resolved, roc-send wont work unless audio backend allows to open device in two-channel mode. PulseAudio will always al

[2021-03-06 08:12] gavv commented on #409
@Nazi-pikachu Hi, do you still have plans on this?

[2021-03-06 08:12] gavv commented on #408
@rahul-ar Do you still plan to work on this?

[2021-03-06 09:39] gavv commented on #425
Fixed this in `develop` by using separate scons db files for different python versions:

[code]

Now switching between python versions should work well.

[2021-03-06 09:39] #425 closed

[2021-03-06 14:53] rahul-ar commented on #408
@gavv yes I very much intend to. I'm really sorry about the delay.

[2021-03-06 15:07] gavv commented on #408
OK, just a ping, you're welcome.

[2021-03-06 19:56] soapdogg commented on #378
Hi,

Probably not. I have got caught up in other work. Feel free to unassign me from this task.

[2021-03-07 12:31] gavv commented on #378
Thanks for letting know. Unassigning, so that someone could pick it up. Feel free to ping me if you decide to get back to it.

[2021-03-07 12:34] gavv commented on #217
@fusuiyi123 Feel free to ping me if you'll decide to get back to it.

[2021-03-07 12:38] gavv commented on #302
@bkayes Hi, do you have plans on this?

[2021-03-08 16:24] nythoang commented on #378
Hi gavv, I stumbled on Roc while looking for my first open source project to work on. I read your about page and really like what you guys are doing. May I work on this issue?

[2021-03-09 10:51] gavv commented on #378
@nythoang Sure, you're welcome! Please take a look at #430 (last commits by Eric and discussions), it may be helpful.

[2021-03-10 08:44] nythoang commented on #378
Hi Victor, I ran the building commands in User Cookbook, then ran "scons -Q" to do a full build but got an error: "fatal error: of_openfec_api.h: No such file or directory". I also tried to install all dependencies with the commands in Developer Cookbook, with no success. Do you have an idea how I can solve this? For now I can run tests and build if I do --disable-openfec, so it is enough to get m

[2021-03-13 08:52] nythoang commented on #311
Hi Victor, can I pick this up?

[2021-03-13 20:11] Ring-A-Bell commented on #406
Hello, I'm a beginner. I would love to give this a try. Just need a little more clarification and help. Here's what I have so far  -
* scons supports ccache integration
* 3rd party dependencies build results are stored in `./3rdparty/<host>/rpath`

[2021-03-18 12:17] ghostBot opened #445 "problems with build pulseaudio modules"
This is my steps for build:
1. unpack roc-toolkit-0.1.5 sources
2. unpack pulseaudio-13.0 sources (same version as installed into system)
3. build with including unpacked pulseaudio source files and linking with system libraries

Got some problems and have questions. Do not know pulseaudio from the inside, so don't be mad:
- [hardcoded append `/src/.libs/`](https://github.com/roc-streaming/roc-too

[2021-03-22 10:25] gavv commented on #311
@nythoang Sure, you're welcome.

[2021-03-22 10:27] gavv commented on #406
@Ring-A-Bell Hi, feel free to ask if you have specific questions ;)

[2021-03-27 10:15] gavv commented on #378
Feed free to post build logs when you run build locally, ideally it should be possible to build without docker too.

[2021-03-29 10:17] KishkinJ10 commented on #306
i am a beginner can i work on this ?? can you guide me how should i start??

[2021-03-29 10:17] gavv commented on #445
Hi, thanks for report.

So do I understand right that your goal is to use headers from unbuilt pulseaudio source directory and use pulseaudio libraries installed system-wide? Could you explain why is it important to you?

Currently, the expected workflow is to build pulseaudio from sources, either manually or automatically using --build-3rdparty, and use both headers and libraries from it to build

[2021-03-29 10:22] gavv commented on #445
BTW, I have plans to extract roc pulseaudio modules into a separate repo and use cmake instead of scons to build them. However so far I don't have time for it.

[2021-03-29 12:28] KishkinJ10 commented on #321
can i work on this ? Where can i start ?

[2021-04-02 22:12] ranomier opened #446 "Add pipewire support or maybe integrate roc into pipewire."
Pipewire is the new kid.

Pipewire is awesome. It is my stable daily driver now. (In my case it is stable. I'm sure there are issues)

Pipewire is still lacking the possibility to share audio via network.In my opinion pipewire and roc toolkit share some values about realtime.

Maybe roc could work together with the pipewire devs :)

Just an idea. What would you think?

[2021-04-13 07:30] gavv commented on #446
Hi!

Yes, this makes sense. We'll definitely need some kind of integration with it.

Personally I didn't have a chance to look at pipewire close yet. So far I have no idea how such an integration should look like. I will look at it, eventually, but for now suggestions or pull requests are welcome :)

[2021-04-14 10:19] Shados commented on #446
For what it's worth, the command-line `roc-` tools currently work fine with pipewire's pulseaudio compatibility/support. I've been using `roc-send` to stream stuff from my pipewire-using desktop to my android phone.

[2021-04-16 21:32] gourishbiradar commented on #409
Hi @gavv, I have made changes to generate the PDF file, please reassign this issue to me

[2021-05-02 14:29] QuditWolf opened #448 "roc sink input module fails to load"
I am on rpi 4, I installed roc using the online documentation.
Pulseaudio woks fine except for when I try to load the roc sink input module it says Module initialization failed...

[code]

PS: i built it using the ``` --enable-pulseaudio-modules ``` option.

What could be the reason/fix for the above?
Thanks

[2021-05-02 14:40] QuditWolf commented on #448
I think the following is the issue : pulseaudio -vvv
[code]
how can i fix this?

Please pardon me for any evident mistake...

[2021-05-03 07:09] QuditWolf commented on #448
It got it to work by compiling it using docker for arm platforms.. and then copying the librabraries and modules....
Somehow compiling there on debian rpi doesnt work.....

[2021-05-03 07:09] #448 closed

[2021-05-05 19:47] brorbw commented on #334
@Pandiora i would not mind helping

[2021-05-25 13:07] jave commented on #446
I also had some success with a server running pulseaudio and the module-roc-sink to send to a client machine running just roc-recv and pipwire, this works well even if I have other audio sources on the client machine because the way pipewire works.

However, the server uses module-roc-sink and pulse, and that combination is slightly flaky in my case. It worked very well for a week, then the roc-si

[2021-06-10 09:56] jave commented on #446
I have a server i upgraded from fc32 which defaults to pulse, to fc34, which defaults to pipewire.

Now when I try to install roc pulse modules I get:

 pactl load-module module-roc-sink remote_ip=192.168.210.3
Failure: No such entity

I tried strace to see where the Failure message comes from, but so far I cant figure it out.

Any relevant debugging hints would be appreciated.

[2021-06-15 00:36] twojstaryzdomu opened #449 "enable back SO_REUSEADDR to support systemd socket activation"
I've been using patched roc software for some time now in a systemd socket activated environment.

While pulseaudio could run with the module-roc-sink-input module in the background on the remote host, it may be sometimes convenient to activate the remote pulseaudio server with an incoming UDP packet, sent by a local pulseaudio instance. The remote pulseaudio instance is configured to load the mod

[2021-06-15 09:13] twojstaryzdomu commented on #445
I've run into the same build issues some time back and also found it unnecessary to build pulseaudio as a prerequisite to compiling roc modules.

Fully re-compiling pulseaudio can be time consuming, several hours on underresourced environments, like raspberry pi zero. Compiling roc and its modules only takes a fraction of that time.

Running only ./configure (or rather the script that runs it, aut

[2021-06-24 12:16] SanchayanMaity commented on #446
There is an implementation in pipewire master upstream now with https://gitlab.freedesktop.org/pipewire/pipewire/-/merge_requests/793.

[2021-06-24 13:52] gavv commented on #391
CentOS is discontinued now.

[2021-06-24 13:52] #391 closed

[2021-06-24 14:30] gavv commented on #378
Landed!

[2021-06-24 14:30] #378 closed

[2021-06-24 14:45] gavv commented on #383
Landed!

[2021-06-24 14:45] #383 closed

[2021-06-27 08:10] souravdas142 commented on #446
@SanchayanMaity   @gavv  Do I need to compile roc-toolkit wtih `--build-3rdparty=openfec,pulseaudio`  for `pipewire`? specially `--build-3rdparty=pulseaudio` ? I'm confused. This need to be cleared. I'm going to publish `roc-toolkit` package on https://launchpad.net/~pipewire-debian PPA that will work on all debain based distros.

[2021-06-27 10:59] SanchayanMaity commented on #446
@souravdas142 build-3rdparty=pulseaudio enables roc-pulse modules, those are not required.

[2021-06-27 11:14] souravdas142 commented on #446
@SanchayanMaity  Thanks a lot for your quick reply. By the way If I built with `build-3rdparty=pulseaudio` and split the package something like name `roc-pulse-module` ? with pulseaudio
[code]
this two files are only generated. Should i do that or it still not required or have problems if with pipewire in future ?
btw, If I do that, `roc-conv`  depends on some pulsaudio  library.
[code]
So I shoul

[2021-06-27 11:43] SanchayanMaity commented on #446
@souravdas142 To be honest, am not sure when it comes to packaging the rest of `roc` as such. What pipewire roc modules depend on is `libroc`. May be the [roc PKGBUILD](https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=roc-git) for Arch might give you an idea. What I do when building `roc` on Arch using that is remove lines 32-38 to not enable the `pulseaudio` modules. Have no idea about the

[2021-06-27 13:11] sl1pkn07 opened #450 "pulseaudio modules not build because pulseaudio is now only meson build system"
when try to build roc

[code]

but pulseaudio is now meson only build system

[code]

greetings

[2021-06-27 17:59] souravdas142 commented on #446
@SanchayanMaity  Thanks a lot man. I have ready [two source package](https://github.com/pipewire-debian/pipewire-debian/tree/roc-toolkit) (for debian based distros)`roc-toolkit` its for `PipeWire` and `roc-toolkit-pulse` its for PulseAduio. I will be published them on [Launchapd PPA](https://launchpad.net/~pipewire-debian/+archive/ubuntu/pipewire-upstream), may be tomorrow.

[2021-06-28 06:49] souravdas142 opened #451 "documentation: Can you document missing dipendencies clearly ?"
You need to clearly document all dependecies at [building/user_cookbook](https://roc-streaming.org/toolkit/docs/building/user_cookbook.html), I know These all are documented at [building/dependencies](https://roc-streaming.org/toolkit/docs/building/dependencies.html) but still can make someone confuse, so better also add at [building/dependencies.html](https://roc-streaming.org/toolkit/docs/buildi

[2021-06-28 07:19] Tigojiang commented on #427
Hi, do you still need help with this issue? I can take over it. Sorry, I am new here, could you please give me some insights about the files that need to be modified?

[2021-06-28 07:41] souravdas142 commented on #446
@SanchayanMaity  @gavv   `roc-toolkit` package is now available at [launchpad](https://launchpad.net/~pipewire-debian/+archive/ubuntu/pipewire-upstream) and ready for PipeWire (without pulseaudio modules).

However the second source package [`roc-toolkit-pulse`](https://github.com/pipewire-debian/pipewire-debian/tree/roc-toolkit/roc-toolkit-pulse) with pulseaudio modules is building failed at Laun

[2021-06-29 14:19] souravdas142 opened #452 "Packaging: Launchpad: From #446 , can't build with pulseaudio modules, Launchpad have no internet connection"
@gavv  This is extension of #446

I was packaged `roc-toolkit-pulse` (rock-toolkit with pulseaudio module) for debian based distros (ubuntu) , you can see at here : [roc-toolkit-pulse](https://github.com/pipewire-debian/pipewire-debian/tree/roc-toolkit/roc-toolkit-pulse) and want to publish at Launchpad as PPA.
But the problem is, to build with pulseaudio module `roc-toolkit` need to download nece

[2021-07-01 10:39] gavv commented on #450
Thanks for reporting! Will look into it.

[2021-07-01 10:44] gavv commented on #449
Hi, thanks for report and patch! The use case looks legit. We should investigate whether it should be enabled unconditionally or by an option, and what should be the default. At least one case where we don't want SO_REUSEADDR is when we're using ephemeral ports (see [here](https://gavv.github.io/articles/ephemeral-port-reuse/)).

[2021-07-01 10:54] gavv commented on #427
@Tigojiang Hi! Yes, this issue is still help-wanted, but it should be done only after merging #417, which was not finished. If you would like to, you could try to pick up #417 and prepare a new PR taking into account unresolved discussions there.

Since the PR was not rebased quite some time, the "Files changed" tab is a bit of a mess, but you can find individual commits by @enigmaro in his fork:

[2021-07-01 11:00] gavv commented on #448
Sorry for delay. I don't have rpi4 ATM and can't really suggest anything without more information, hopefully full build logs & pulseaudio logs could give some insight. If you'd like to investigate it, feel free to reopen the issue and provide any additional information you could acquire.

[2021-07-01 11:31] gavv commented on #445
Ah, I see the point. Makes sense.

I've started extracting pulseaudio modules into separate repo: https://github.com/roc-streaming/roc-pulse/

Some notes:

* roc-pulse requires roc-toolkit from develop branch to be installed system-wide
* roc-pulse build system is cmake
* as before, roc-pulse has two modes: download and build pulseaudio automatically, or use external pulseaudio directory (PULSEAUD

[2021-07-01 11:34] gavv commented on #445
Since there are no docs yet, you can find examples of how to invoke cmake in CI scripts: https://github.com/roc-streaming/roc-pulse/blob/main/.github/workflows/build.yml

[2021-07-01 14:17] twojstaryzdomu opened #453 "Pulseaudio roc_sender quiesce UDP traffic when not playing audio"
Currently, the roc_sender module is sending heavy UDP traffic whether the client is playing audio or not. It can impact the performance of the network when not playing anything and/or lead to unnecessary charges. That traffic is seen as redundant in the network, seeing as it does not lead to anything being played. Unless the sender module is unloaded manually, there is no way to stop the traffic.

[2021-07-01 18:10] gavv commented on #453
Totally agree. This is a known problem though: #72

[2021-07-01 18:53] gavv commented on #452
@souravdas142 Hi!

Having a PPA is super cool, thanks a lot for working on it!

----

First of all, I'm planning to move pulseaudio modules into a separate repo: https://github.com/roc-streaming/roc-pulse/

You can find more details in this comment: https://github.com/roc-streaming/roc-toolkit/issues/445#issuecomment-872166899

It's not ready yet, but probably it makes sense to do packaging work u

[2021-07-01 18:54] gavv commented on #452
Hope this helps. Please let me know if you need any assistance, fixes in build system, etc.

[2021-07-01 19:02] gavv commented on #451
Hi, thanks, I'll revise the docs.

BTW, not 100% sure about master branch, but in develop branch documentation is not built by default and doxygen / graphviz / python3-sphinx / python3-breathe are not needed for regular users.

Also, curl and wget are used as fallbacks only, in case if we can't download package using builtin python facilities, which may happen in some environments. IIRC they are n

[2021-07-02 11:19] gavv commented on #446
@SanchayanMaity Awesome, thanks!

[2021-07-02 11:22] gavv commented on #446
libroc typically depends on libuv, libopenfec (optional but recommended), libpulse (optional).

If you build libroc with --build-3rdparty, dependencies will be built as static libraries and compiled into libroc. This may be useful for openfec because AFAIK it's not packaged anywhere and because we use our own unofficial fork with various fixes.

[2021-07-02 11:23] gavv commented on #446
@souravdas142 I've replied to your other questions in #452.

[2021-07-02 11:36] gavv commented on #446
@SanchayanMaity I wonder if it makes sense to create a native pipewire *client* for command-line tools to avoid using pulseaudio compatibility layer. What benefits can be gained by this? Does pulseaudio compat layer affects latency, for example? Also, what pipewire API is intended for this, Core API or Remote API?

[2021-07-03 08:42] souravdas142 commented on #452
First of all, After packaging without `pulseaudio` I taught It'll be also easier to package with pulseaudio, but its not actually, It will make high maintainent packaging This is not I want as I don't use `pulseaudio` but I was taught that time "why shouldn't I also package for pulseaudio, as its not still dead?"

This vendor submodule doesn't contain all `pulseaudio` src package and need to be ad

[2021-07-03 10:53] souravdas142 commented on #452
libroc-dev (depends on libroc + contains headers)
roc-tools or roc-toolkit (contains roc-recv and roc-send)

Btw any reason to split up ? I just following Arch packaging scheme... i.e. vanilla package/KISS philosophy. If I haven't any reason for that why should I split up things ?

[2021-07-08 09:15] souravdas142 commented on #452
@gavv  As you mentioned earlier,

Package's source name : `roc-toolkit`
package - **`libroc`** (contains : `libroc.so`, `libroc.so.0`, `libroc.so.0.1` and suggests `roc`)
package - **`libroc-dev`** (contains : all header files and depends on `libroc`)
package - **`roc`** (not `roc-toolkit` you mentioned prev) (contains : `roc-conv`, `roc-recv`, `roc-send` + their man pages and depends on `libroc`)

[2021-07-08 09:43] souravdas142 commented on #452
@gavv  any news on this issue ?

[2021-07-15 04:32] jatrindo commented on #329
Hi gavv, is anyone working on this? I'd be interested in giving it a go!

[2021-07-15 12:20] SanchayanMaity commented on #446
@gavv

Am not too well versed with PipeWire either. Started contributing recently. Also, haven't looked at the command line tools so far. Will try to take a look and see if I can get further along on answering those questions.